.mat-mdc-form-field {
    margin-top: 16px;
}
.arrowBtn {
  position: absolute !important;
  margin-top: 16px;
  margin-left: 50px;
  z-index: 100;
}

.arrowBtn:hover {
  color: white;
}

.inline-bordered {
  display: inline;
  font-weight: bold;
  border-bottom: 1px solid #ca2314;
}

mat-step-header {
  pointer-events: none; /* Disabilita il click */
}

// mat-step-header:hover {
//   cursor: default;
// }
