.mat-mdc-form-field {
    margin-top: 16px;
}
.arrowBtn {
  margin-top: 16px;
  margin-left: 50px;
  z-index: 100;
  position: absolute;
  background-color: white;
}

.arrowBtn:hover {
  color: white;
}

.inline-bordered {
  display: inline;
  font-weight: bold;
  border-bottom: 1px solid #ca2314;
}

::ng-deep .mat-vertical-stepper-header {
  cursor: default !important;
  pointer-events: none !important;
}


