.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.customPanel {
    border-radius: 10px;
    overflow: hidden;
}

.panelTitle {
    font-size: large;
    font-weight: bold;
}

.panelContent {
    padding: 1rem;
}

.panelContainer {
    padding: 0.7rem;
}

mat-expansion-panel.mat-expanded mat-expansion-panel-header {
    border-bottom: 1px solid lightgray;
    height: 50px;
    border-radius: 0;
}

.btn-primary-outline {
    color: #002D5D;
    border-color: #002D5D;
}

.btn-primary-outline:hover {
    background-color: #002D5D;
    color: white;
}

.mat-mdc-tab-group {
    --mdc-tab-indicator-active-indicator-color: #002D5D;
    --mat-tab-header-active-label-text-color: #002D5D;
    --mat-tab-header-active-ripple-color: #002D5D;
    --mat-tab-header-inactive-ripple-color: #002D5D;
    --mat-tab-header-active-focus-label-text-color: #002D5D;
    --mat-tab-header-active-hover-label-text-color: #002D5D;
    --mat-tab-header-active-focus-indicator-color: #002D5D;
    --mat-tab-header-active-hover-indicator-color: #002D5D;
}

::ng-deep .mat-tab-label {
    font-weight: bold;
}

.tabTitle {
    font-size: large;
    font-weight: bold;
}

.infoPanel {
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 1s ease, opacity 1.5s ease;
}

.ticketPanel {
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 1s ease, opacity 1.5s ease;
}

.infoPanel.visible {
    transform: translateY(0);
    opacity: 1;
}

.ticketPanel.visible {
    transform: translateY(0);
    opacity: 1;
}

.yellowBg {
    background-color: #FFE69C;
}

/* Mantiene il colore anche su hover e focus */
.customPanelHeader.yellowBg {
    background-color: #FFE69C !important;
}

/* Sovrascrive gli stili di Angular Material quando il panel è attivo */
.customPanelHeader.yellowBg.mat-expansion-panel-header {
    background-color: #FFE69C !important;
}

/* Quando il pannello è hoverato */
.customPanelHeader.yellowBg.mat-expansion-panel-header:hover {
    background-color: #FFE69C !important;
}

/* Quando il pannello è focus */
.customPanelHeader.yellowBg.mat-expansion-panel-header:focus {
    background-color: #FFE69C !important;
}

.upperPosition {
    left: 20px;
    top: 20px;
}

.lowerPosition {
    right: 28px;
    top: 24px
}