.footer {
    bottom: 0;
    border-top: 1px solid lightgray;
    margin-top: 4rem;
    background-color: rgba(211, 211, 211, 0.171);
    padding-bottom: 10px;
}

.footerLogo {
    max-width: 90px;
    height: auto;
    object-fit: contain;
}
