<nav class="footer navbar-expand-lg" style="min-width: 350px;">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center mt-4 mb-2">
            <div class="col-12 col-md-4 text-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 mb-1">
                            <span style="font-size: small; font-weight: bold;">ABOUT US</span>
                        </div>
                        <div class="col-12">
                            <span style="font-size: x-small;">
                                Weco H1 S.R.L.
                            </span>
                        </div>
                        <div class="col-12">
                            <span style="font-size: x-small;">
                                Viale J.F. Kennedy 113, 50038
                            </span>
                        </div>
                        <div class="col-12">
                            <span style="font-size: x-small;">
                                Scarperia e San Piero (FI)
                            </span>
                        </div>
                        <div class="col-12">
                            <span style="font-size: x-small;">
                                P.I. e C.F. 06567530487
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 text-center">
                <img src="assets/img/logo.png" class="footerLogo">
            </div>

            <div class="col-12 col-md-4 text-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 mb-1">
                            <span style="font-size: small; font-weight: bold;">CONTACT US</span>
                        </div>
                        <div class="col-12">
                            <span style="font-size: x-small;">
                                PEC: weco&#64;pec-legal.it
                            </span>
                        </div>
                        <div class="col-4 text-right p-1">
                            <i class="bi bi-browser-chrome" href="https://wecobatteries.com/"></i>
                        </div>
                        <div class="col-4 text-centerp-1">
                            <i class="bi bi-linkedin"></i>
                        </div>
                        <div class="col-4 text-left p-1">
                            <i class="bi bi-youtube"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>