<div class="container-fluid p-1 p-md-2 p-lg-3 p-xl-4" style="background-color: white; min-height: 90vh;">
    <div class="row justify-content-center">
        <div class="col-12 mt-4" style="max-width: 1200px;">
            <mat-expansion-panel class="customPanel ticketPanel" expanded appInViewport>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="panelTitle">
                            <i class="bi bi-file-earmark-text me-2"></i>
                            {{"TICKET.NEW.NEWTICKETSMALL" | translate}}
                        </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div [formGroup]="newTicketForm" class="row justify-content-center mt-2 p-1 p-md-2 p-lg-3">
                    <!-- EMAIL -->
                    <div class="col-12 col-md-6">
                        <label class="form-label" for="email">
                            {{"TICKET.NEW.EMAIL" | translate}}
                        </label>
                        <input class="form-control" type="text" id="email" formControlName="email">
                    </div>

                    <!-- REQUEST -->
                    <div class="col-12 col-md-6">
                        <label class="form-label" for="request">
                            {{"TICKET.NEW.REQUEST" | translate}}
                        </label>
                        <select class="form-select" id="request" formControlName="request">
                            <option [ngValue]="null">
                                --
                            </option>
                            <option *ngFor="let request of requestList" [ngValue]="request.id">
                                {{request.title}}
                            </option>
                        </select>
                    </div>

                    <ng-container>
                        <!-- INVERTER LIST -->
                        <div class="col-12 col-md-6 mt-3 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5"
                            [ngStyle]="{'border-right': isSmallScreen ? 'none' : '1px solid lightgray'}"
                            formArrayName="inverterList">
                            <span class="listTitle">
                                {{"TICKET.NEW.INVERTERLIST" | translate}}
                            </span>
                            <div *ngFor="let inverter of inverterList.controls; let i = index" [formGroupName]="i"
                                class="row justify-content-center align-items-group mt-2"
                                style="border-bottom: 1px solid lightgray;">

                                <div class="col-12">
                                    <div class="form-check">
                                        <label class="form-check-label ms-2">
                                            {{inverter.get('sn')?.value}}
                                        </label>
                                        <input class="form-check-input" type="checkbox" name="selected" id="selected">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BATTERY LIST -->
                        <div class="col-12 col-md-6 mt-3 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5"
                            [ngStyle]="{'border-left': isSmallScreen ? 'none' : '1px solid lightgray'}"
                            formArrayName="batteryList">
                            <span class="listTitle">
                                {{"TICKET.NEW.BATTERYLIST" | translate}}
                            </span>
                            <div *ngFor="let battery of batteryList.controls; let i = index" [formGroupName]="i"
                                class="row justify-content-center align-items-group mt-2"
                                style="border-bottom: 1px solid lightgray;">

                                <div class="col-12">
                                    <div class="form-check">
                                        <label class="form-check-label ms-2">
                                            {{battery.get('sn')?.value}}
                                        </label>
                                        <input class="form-check-input" type="checkbox" name="selected" id="selected">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="col-12 mt-2">
                        <label class="form-label" for="description">
                            {{"TICKET.NEW.PROBLEMDESCRIPTION" | translate}}
                        </label>
                        <textarea class="form-control" type="text" id="description" formControlName="description"
                            rows="3">
                        </textarea>
                    </div>

                    <div class="col-12 mt-2">
                        <label *ngIf="fileList.length < maxImages" for="fileUpload2"
                            class="btn btn-outline-dark mt-1">
                            <i class="bi bi-paperclip"></i>
                            <input type="file" id="fileUpload2" style="display: none;" (change)="onFileSelected($event)"
                                multiple>
                        </label>

                        <div class="row justify-content-center mt-2">
                            <div *ngFor="let img of imagesList" class="col-auto">
                                <img style="height: 50px; width: 40px; border: 1px solid lightgray; object-fit: cover;" 
                                    [src]="'assets/img/'+img.src" [title]="img.src">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end pt-1 ps-1 pe-1 pt-md-2 ps-md-2 pe-md-2 pt-lg-3 ps-lg-3 pe-lg-3"
                    style="border-top: 1px solid lightgray;">
                    <div class="col-auto">
                        <button class="btn btn-outline-success" (click)="createTicket()">
                            {{"TICKET.NEW.CREATE" | translate}}
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</div>