<div class="arrowBtn d-none d-sm-inline">
    <a (click)="goBack()" class="btn btn-outline-dark">
        <i class="bi bi-arrow-left arrowIcon"></i>
    </a>
</div>

<div *ngIf="idsystem > 0; else blockError;" class="container fullPage">
    <div class="row justify-content-center align-items-center mt-2 p-2">
        <div class="col-6 text-center">
            <h2 class="systemName inline-bordered">{{systemInfo?.system_name}}</h2>
        </div>
    </div>

    <div class="row justify-content-center align-items-center p-2">
        <div class="col-12 text-center">
            <span *ngIf="systemInfo?.system_description != null && systemInfo?.system_description != ''; else addDescriptionBlock" style="font-size: medium; font-style: italic;">{{systemInfo?.system_description}}</span>
            <ng-template #addDescriptionBlock>
                <span style="font-size: medium; font-style: italic;">Add a description</span>
            </ng-template>
            <button type="button" class="btn btn-sm btn-outline-dark ms-2" data-bs-toggle="modal"
                data-bs-target="#descriptionModal">
                <i class="bi bi-pencil"></i>
            </button>
        </div>
    </div>

    <div class="modal fade" id="descriptionModal" tabindex="0" aria-labelledby="descriptionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="descriptionModalLabel">Change system description</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea type="text" [value]="systemInfo?.system_description" style="width: 100%;"
                        #newDescription>
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                    <button type="button" class="btn btn-primary" (click)="modifyDescription(newDescription.value)"
                        data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center p-1 p-lg-4">
        <div class="col-12 col-md-6 mt-2">
            <div class="card">
                <h5 class="card-header blueBg">SYSTEM DATA</h5>
                <div class="card-body">
                    <div *ngIf="systemInfo && systemInfo?.customerInfo?.length! > 1; else systemBlock">
                        <ul class="list-unstyled">
                            <li class="listElement">
                                <i class="bi bi-circle-fill" style="font-size: large;" [ngClass]="{
                                'text-success': systemInfo.status?.id === 4,
                                'text-danger': systemInfo.status?.id === 3,
                                'text-warning': systemInfo.status?.id === 2,
                                'text-info': systemInfo.status?.id === 1 }">
                                </i>
                                <span *ngIf="systemInfo?.status"
                                    style="margin-left: 1rem;">{{systemInfo.status?.name}}</span>
                                <span *ngIf="!systemInfo?.status" style="margin-left: 1rem;">Status not available</span>
                            </li>
                            <li class="listElement">
                                <span class="listTitle">Customer Name:</span><br>
                                <span class="listDescription">{{systemInfo.customerInfo}}</span>
                            </li>
                            <li class="listElement">
                                <span class="listTitle">Installation Site:</span><br>
                                <span class="listDescription">{{systemInfo.installationSite}}</span>
                            </li>
                            <li class="listElement">
                                <span class="listTitle">Device Info:</span><br>
                                <ul>
                                    <li *ngFor="let device of systemInfo?.devicesInfo">
                                        <span class="listDescription">{{device}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <ng-template #systemBlock class="mt-4 p-2 text-center">
                        <span class="mt-2">Insert the system's datas to enable the others functionalities</span>
                    </ng-template>
                </div>
                <div class="card-footer blueBg text-center">
                    <button *ngIf="systemInfo?.status!.id == 1 || systemInfo?.status!.id == 3; else readOnlyBlock" class="btn btn-outline-dark btn-light me-2" (click)="modifySystem()">
                        Modify System Data
                    </button>
                    <ng-template #readOnlyBlock>
                        <button class="btn btn-outline-dark btn-light ms-2" (click)="viewSystem()">
                            View System Data
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mt-2">
            <div class="card">
                <h5 class="card-header greenBg">WARRANTY</h5>
                <div class="card-body">
                    <p style="margin-top: 1rem;">
                        <span class="listTitle">Warranty Status: </span><br>
                        <!-- <span class="listDescription">{{warrantyExtensionStatus}}</span> -->
                    </p>
                    <p class="paragraph" *ngIf="systemInfo?.status?.id == 4; else warrantyBlock">

                    </p>
                    <ng-template #warrantyBlock>
                        <p class="paragraph">
                            Per visualizzare la garanzia di ogni dispositivo è necessario che l'impianto sia stato
                            approvato.<br>
                            Stato attuale impianto:
                            <i class="bi bi-circle-fill" style="font-size: large;" [ngClass]="{
                                'text-success': systemInfo?.status?.id === 4,
                                'text-danger': systemInfo?.status?.id === 3,
                                'text-warning': systemInfo?.status?.id === 2,
                                'text-info': systemInfo?.status?.id === 1 }">
                            </i>
                            {{systemInfo?.status?.name}}
                        </p>
                    </ng-template>
                    <!-- <p class="paragraph" *ngIf="!isWarrantyRequest; else warrantyBlock">
                        Request a warranty extension, our technician will review your system and check
                        if there's a possibility for a warrant extension.
                    </p>
                    <ng-template #warrantyBlock>
                        <p class="paragraph">
                            Click on this card to see the details of your warranty request status
                        </p>
                    </ng-template> -->
                </div>
                <div class="card-footer greenBg text-center">
                    <div href="#" class="btn btn-outline-dark btn-light" (click)="warrantyInfo()">Warranty
                        info
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="false" class="row justify-content-center align-items-center mt-2 p-1 p-lg-4">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header orangeBg">TICKETS</h5>
                <div class="card-body">
                    <!-- <div *ngIf="!isChat">
                        <h5 class="card-title">No requests available</h5>
                        <p class="card-text">Click here to add a new assistance request for one of your systems and chat
                            with Weco technicians to solve
                            your problems.</p>
                    </div>
                    <div *ngIf="isChat">
                        <h5 class="card-title">Number of chats available</h5>
                        <p class="card-text">Click on this card to visualize all of the assistance requests and chats
                            for this system.</p>
                        <p>
                            </div>-->

                    <span style="font-weight: bold;">Latest Requests:</span>
                    <ul *ngFor="let ticket of systemTickets" class="list-unstyled">
                        <li>
                            <div class="card" (click)="goToTicket(ticket.id)">
                                <div class="card-body">
                                    <div class="card-text">
                                        <div *ngIf="isTicket; else ticketBlock" class="row justify-content-center">
                                            <div class="col-12 col-lg-4 text-start">
                                                <span style="font-weight: bold;">Title: </span>
                                                <span>{{ticket.title}}</span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 mt-md-4 mt-lg-0 text-center">
                                                <span style="font-weight: bold;">Date: </span>
                                                <span>{{ticket.date_ticket}}</span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 mt-md-4 mt-lg-0 text-end">
                                                <span style="font-weight: bold;">Status: </span>
                                                <span>
                                                    {{ticket.status}}
                                                    <i class="bi bi-circle-fill" [ngClass]="{
                                                            'text-success': ticket.status === 'Solved',
                                                            'text-danger': ticket.status === 'Not Solved',
                                                            'text-warning': ticket.status === 'Waiting for approval'}">
                                                    </i>
                                                </span>
                                            </div>
                                            <div class="col-12">
                                                <span style="font-weight: bold;">Description: </span>
                                                <span>
                                                    {{ticket.description}}

                                                </span>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <ng-template #ticketBlock>
                                                No tickets available for this system
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer orangeBg text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 mt-1" [ngClass]="{'col-sm-6': isTicket}">
                            <div class="btn btn-outline-dark btn-light" (click)="newTicket()">Add a new ticket</div>
                        </div>
                        <div class="col-12 col-sm-6 mt-1">
                            <div *ngIf="isTicket" class="btn btn-outline-dark btn-light" (click)="ticketsListSystem()">
                                Ticket list system
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-2 p-1 p-lg-4" *ngIf="false">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header yellowBg">RMA</h5>
                <div class="card-body">
                    <div *ngIf="!isRma">
                        <h5 class="card-title">No RMA available</h5>
                        <p class="card-text">Press on the button below to start a new process for RMA.</p>
                    </div>
                    <div *ngIf="isRma">
                        <h5 class="card-title">Number of RMA available</h5>
                        <p class="card-text">Click on the card to visualize old RMA or press on the button below to
                            start a new process for
                            RMA.</p>
                    </div>
                </div>
                <div class="card-footer yellowBg text-center">
                    <div href="#" class="btn btn-outline-dark btn-light">New RMA</div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #blockError class="mt-4 p-2 text-center">
    <h1>LOADING ERROR</h1><br>
    <h3 class="mt-4">Refresh the page to try again</h3>
</ng-template>