.listElement {
    margin-top: 1rem;
}

.listTitle {
    font-size: large;
    font-weight: bold;
}

.listDescription {
    margin-top: 1rem;
    font-size: medium;
    padding: 1;
}

.card {
    min-width: 100%;
    height: 100%;
    //background-color: #dee2e6;
}

.card:hover {
    cursor: pointer;
}

// .header {
//     border-bottom: 2px solid lightgray;
// }

.systemName {
    font-weight: bold;
    display: inline-block;
}

.cardTitle {
    font-weight: bold;
}

.fullPage {
    min-width: 300px;
}

.orangeBg {
    background-color: #FFE5D0;
}

.yellowBg {
    background-color: #FFE69C;
}

.greenBg {
    background-color: #D2F4EA;
}

.blueBg {
    background-color: #CFE2FF;
}

.arrowBtn {
    position: absolute !important;
    margin-top: 16px;
    margin-left: 50px;
    z-index: 100;
}

.arrowBtn:hover {
    color: white;
}

.inline-bordered {
    display: inline;
    font-weight: bold;
    border-bottom: 2px solid #ca2314;
}