<div class="container">
    <div class="row justify-content-center align-items-center mt-2 p-2">
        <div class="col-6 text-center">
            <h2 class="systemName">{{systemName}}</h2>
        </div>
    </div>
    <div class="row justify-content-center p-1 p-lg-4">
        <div class="col-12 col-md-6 mt-2">
            <mat-card class="card">
                <mat-card-header class="titleBorder header">
                    <mat-card-title class="cardTitle">SYSTEM DATA</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul class="list-unstyled">
                        <li class="listElement">
                            <i class="bi bi-circle-fill" style="font-size: large;" [ngClass]="{
                                'text-success': system.status === 'Approved',
                                'text-danger': system.status === 'Incomplete',
                                'text-warning': system.status === 'Waiting for approval'}">
                            </i>
                            <span style="margin-left: 1rem;">{{system.status}}</span>
                        </li>
                        <li class="listElement">
                            <span class="listTitle">Description:</span><br>
                            <span class="listDescription">{{system.description}}</span>
                        </li>
                        <li class="listElement">
                            <span class="listTitle">Supplier Name:</span><br>
                            <span class="listDescription">{{system.supplierInfo.name}}</span>
                        </li>
                        <li class="listElement">
                            <span class="listTitle">Installation Site:</span><br>
                            <span class="listDescription">{{system.installationSite.city}}</span>
                        </li>
                        <li class="listElement">
                            <span class="listTitle">Installation Date:</span><br>
                            <span class="listDescription">{{system.productGeneralInfo.installationDate}}</span>
                        </li>
                        <li class="listElement">
                            <span class="listTitle">Problem Occurred:</span><br>
                            <span class="listDescription">{{system.additionalInfo.problemOccurred}}</span>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 col-md-6 mt-2">
            <mat-card (click)="openDialog()" class="card">
                <mat-card-header class="titleBorder header">
                    <mat-card-title class="cardTitle">WARRANTY EXTENSION</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p style="margin-top: 1rem;">
                        <span class="listTitle">Warranty Extension Status: </span><br>
                        <span class="listDescription">{{warrantyExtensionStatus}}</span>
                    </p><br>
                    <p class="paragraph" *ngIf="!isWarrantyRequest">
                        Request a warranty extension, our technician will review your system and check
                        if there's a possibility for a warrant extension.
                    </p>
                    <p class="paragraph" *ngIf="isWarrantyRequest">
                        Expand this area to see the details of your warranty request status
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-2 p-1 p-lg-4">
        <div class="col-12">
            <mat-card (click)="openDialog()" class="card">
                <mat-card-header class="titleBorder header">
                    <mat-card-title class="cardTitle">CHAT</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="listDescription" *ngIf="!isChat">
                        To recieve support click here to start a new chat with our technicians.
                    </p>
                    <p class="listDescription" *ngIf="isChat">
                        MESSAGES
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-2 p-1 p-lg-4">
        <div class="col-12">
            <mat-card (click)="openDialog()" class="card">
                <mat-card-header class="titleBorder header">
                    <mat-card-title class="cardTitle">RMA</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="listDescription" *ngIf="!isRma">
                        Click here to start a new process for RMA
                    </p>
                    <p class="listDescription" *ngIf="isRma">
                        LIST OF RMA
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>