<div class="container">
  <form [formGroup]="stepTwoForm">
    <div class="form-group">
      <div class="row mt-2">
        <div class="col-12 col-lg-6 mb-3">
          <label for="idcountry" style="font-weight: bold;">{{"SYSTEM.STEPTWO.INSTALLATIONCOUNTRY" | translate}}<sup class="small-asterisk">*</sup></label>
          <select class="form-select" aria-label="select example" formControlName="idcountry"
          [ngClass]="{'is-invalid': errors.idcountry}">
            <option [ngValue]="null" disabled selected>{{"SYSTEM.STEPTWO.SELECTCOUNTRY" | translate}}</option>
            <option *ngFor="let country of countriesData" [ngValue]="country.id">
              {{ country.common_name }}
            </option>
          </select>
          <div class="text-danger mt-1" *ngIf="errors.idcountry" style="font-size: small;">{{"SYSTEM.STEPTWO.COUNTRYERROR" | translate}}</div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
          <label for="location_address" style="font-weight: bold;">{{"SYSTEM.STEPTWO.ADDRESS" | translate}}<sup class="small-asterisk">*</sup></label>
          <input type="text" name="location_address" id="location_address" formControlName="location_address"
            class="form-control" placeholder="{{'SYSTEM.STEPTWO.ADDRESS' | translate}}" [ngClass]="{'is-invalid': errors.location_address}">
            <div class="text-danger mt-1" *ngIf="errors.location_address" style="font-size: small;">{{"SYSTEM.STEPTWO.ADDRESSERROR" | translate}}</div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
          <label for="location_city" style="font-weight: bold;">{{"SYSTEM.STEPTWO.CITY" | translate}}<sup class="small-asterisk">*</sup></label>
          <input type="text" name="location_city" id="location_city" formControlName="location_city"
            class="form-control" placeholder="{{'SYSTEM.STEPTWO.CITY' | translate}}" [ngClass]="{'is-invalid': errors.location_city}">
            <div class="text-danger mt-1" *ngIf="errors.location_city" style="font-size: small;">{{"SYSTEM.STEPTWO.CITYERROR" | translate}}</div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
          <label for="location_postalcode" style="font-weight: bold;">{{"SYSTEM.STEPTWO.POSTALCODE" | translate}}<sup
              class="small-asterisk">*</sup></label>
          <input type="text" name="location_postalcode" id="location_postalcode" formControlName="location_postalcode"
            class="form-control" placeholder="" [ngClass]="{'is-invalid': errors.location_postalcode}">
            <div class="text-danger mt-1" *ngIf="errors.location_postalcode" style="font-size: small;">{{"SYSTEM.STEPTWO.POSTALCODEERROR" | translate}}</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto fs-5">
        <span style="font-size: small;">{{"SYSTEM.STEPTWO.INSTALLATIONPICTURES" | translate}}</span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="assets/img/pictures.jpg" style="width: 60%; height: auto; cursor: pointer;">
      </div>
    </div>

    <div class="row justify-content-center mt-2">
      <ng-container *ngFor="let image2 of imagesStep2">
        <div class="col-xs-12 col-sm-6 col-md-2 mb-4 text-center" style="width: 100px; height: 100px;">
          <img [src]="urlServerLara + image2.src" [alt]="image2.title" class="img-fluid thumbnailImg">
          <i class="bi bi-trash trash" (click)="deleteImg(image2.id)"></i>
        </div>
      </ng-container>
    </div>
    <div class="row justify-content-center mt-3 mb-3">
      <div class="col-md-4 text-center">
        <label *ngIf="!imageSpaceLeftStep2" class="text-danger">{{"SYSTEM.STEPTWO.IMAGELIMIT" | translate}}</label><br>
        <label *ngIf="imagesStep2.length < maxImagesStep2" for="fileUpload2" class="btn btn-outline-dark">
          <i class="bi bi-upload" style="margin-right: 4px;"></i>
          Importa
          <input type="file" id="fileUpload2" style="display: none;" (change)="onFileSelected($event)" multiple>
        </label>
      </div>
    </div>

    <!-- <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field> -->
    <div class="text-center">
      <button class="btn btn-outline-dark me-2" matStepperPrevious>
        {{"SYSTEM.STEPBUTTONS.PREV" | translate}}
      </button>
      <button class="btn btn-outline-dark ms-2 me-2" id="next" (click)="saveStep('save')">
        {{"SYSTEM.STEPBUTTONS.SAVE" | translate}}
      </button>
      <button class="btn btn-outline-dark ml-2" [disabled]="stepTwoForm.invalid || isError" (click)="saveStep('next')"
        >
        {{"SYSTEM.STEPBUTTONS.NEXT" | translate}}
      </button>
    </div>
  </form>
</div>

<!-- Visualizzazione immagine -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <img src="assets/img/pictures.jpg" style="width: 150%; height: auto;">
    </div>
  </div>
</div>
