.thumbnailImg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid black;
}

.trash {
    color: red;
}

.trash:hover {
    cursor: pointer;
}

.small-asterisk {
    font-size: 1rem !important;
}