<div class="d-flex py-3 py-md-1 verticalDimensionPage">
  <div class="container" id="fullPage">
    <div class="card login-card">
      <div class="row justify-content-center">
        <div class="col-md-5 d-none d-md-block align-self-center" style="border-right: 2px solid lightgray;">
          <img src="assets/img/batteries.png" alt="login" class="login-card-img ml-5">
        </div>
        <div class="col-md-7 col-12">
          <div class="card-body">
            <div class="languageBox">
              <app-language></app-language>
            </div>
            <div class="brand-wrapper d-none d-md-block">
              <img src="assets/img/logo.png" alt="logo" class="logo">
            </div>
            <div class="brand-wrapper d-md-none text-center mt-2">
              <img src="assets/img/logo.png" alt="logo" class="logo">
            </div>
            <p class="login-card-description d-none d-md-block">{{"PROFILE.LOGIN.SIGNIN" | translate}}</p>
            <p class="login-card-description d-md-none text-center">{{"PROFILE.LOGIN.SIGNIN" | translate}}</p>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label for="email" class="sr-only">{{"PROFILE.LOGIN.EMAIL" | translate}}</label>
                <input type="email" name="email" id="email" formControlName="email" class="form-control"
                  placeholder="{{'PROFILE.LOGIN.MAILPLACEHOLDER' | translate}}" [ngClass]="{'error': !valid}">
              </div>
              <div class="form-group input-container" [ngClass]="{'mb-4': valid}">
                <label for="password" class="sr-only">{{"PROFILE.LOGIN.PSW" | translate}}</label>
                <input [type]="type" name="password" id="password" formControlName="password" class="form-control"
                  placeholder="***********" [ngClass]="{'error': !valid}">
                <i class="bi" [ngClass]="{'bi-eye': !toggled, 'bi-eye-slash': toggled}" id="togglePassword"
                  (click)="seePassword()"></i>
              </div>
              <div *ngIf="!valid" class="mb-4 text-center" style="color: #DC3545;">
                <small>{{"PROFILE.LOGIN.WRONGPSW" | translate}}</small>
              </div>
              <button [class.disabled]="loginForm.invalid" class="btn btn-block login-btn mb-4"
                (click)="login()">{{"PROFILE.LOGIN.LOGIN" | translate}}</button>
            </form>
            <div>
              <button routerLink="/sendemailModifyPassword" class="forgot-password-link btn ps-0">
                {{"PROFILE.LOGIN.FORGOTPSW" | translate}}
              </button>
            </div>
            <p class="login-card-footer-text">{{"PROFILE.LOGIN.SIGNUP" | translate}}
              <button routerLink="/signup" class="btn btn-link">{{"PROFILE.LOGIN.REGISTER" | translate}}</button>
            </p>
            <nav class="login-card-footer-nav">
              <a href="#!" class="me-4">{{"PROFILE.LOGIN.USERTERMS" | translate}}</a>
              <a href="#!">{{"PROFILE.LOGIN.PRIVACY" | translate}}</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
