.brand-wrapper {
    margin-bottom: 19px;

    .logo {
        height: 37px;
    }
}

.card-body {
    padding-top: 40px;
    padding-left: 20px;

    @media (min-width: 500px) {
        padding-top: 60px;
        padding-left: 40px;
    }
}

.d-flex {
    height: 100vh;
    font-family: "Karla", sans-serif;
    background-color: #9b9b9b;
    min-width: 300px;
}

.login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;


    &-img {
        border-radius: 0;
        width: 80%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
    }
    

    &-description {
        font-size: 25px;
        color: #000;
        font-weight: normal;
        margin-bottom: 23px;
    }

    &-footer-text {
        font-size: 16px;
        color: #0d2366;
        margin-bottom: 60px;

        @media (max-width: 767px) {
            margin-bottom: 24px;
        }
    }

    &-footer-nav {
        a {
            font-size: 14px;
            color: #919aa3;
        }
    }
}

form {
    max-width: 400px;
    width: 100%;
}

.form-control {
    border: 1px solid #d5dae2;
    //padding: 15px 25px;
    //margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal;

    &::placeholder {
        color: #919aa3;
    }
}

.login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;

    &:hover {
        border: 1px solid #000;
        background-color: transparent;
        color: #000;
    }
}

.forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
}

#fullPage {
    max-width: 500px;

    @media (min-width: 768px) {
        max-width: 1090px;
    }
}

.error {
    border: 1px solid #DC3545 !important;
}
