<div class="d-flex d_flex align-items-center py-3 py-md-1">
    <div class="container" id="fullPage">
        <div class="card login-card">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="assets/img/logo.png" alt="logo" class="logo">
                        </div>
                        <p class="login-card-description">Subscribe</p>
                        <p style="font-size: x-small; margin-bottom: 23px;">All fields are mandatory</p>
                    </div>
                </div>
                <div class="container">
                    <form [formGroup]="signupForm" class="has-validation" style="margin: 0 auto;">
                        <div class="form-group">
                            <div class="row p-3">
                                <div class="col-12 col-lg-6 mb-3">
                                    <label for="name" style="font-weight: bold;">Name</label>
                                    <input type="text" name="name" id="name" formControlName="name" class="form-control form_control"
                                        placeholder="">
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                    <label for="surname" style="font-weight: bold;">Surname</label>
                                    <input type="text" name="surname" id="surname" formControlName="surname"
                                        class="form-control form_control" placeholder="">
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                    <label for="companyName" style="font-weight: bold;">Company Name</label>
                                    <input type="companyName" name="companyName" id="companyName"
                                        formControlName="companyName" class="form-control form_control" placeholder=""
                                        [ngClass]="{'error': !validEmail}">
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                    <label for="country" style="font-weight: bold;">Country</label>
                                    <select class="form-select" id="country" aria-label="select example" formControlName="country" required (change)="setLicence()">
                                        <option [ngValue]="null" disabled selected>Select a Country</option>
                                        <option *ngFor="let country of countriesData">
                                            <img src="{{country.flags.png}}"
                                                width="20px" height="15px"> {{ country.name.common }}
                                        </option>
                                    </select>
                                    <!-- <mat-select formControlName="country">
                                            @for (country of countriesData; track country) {
                                              <mat-option [value]="country">
                                                <img src="{{country.flags}}" style="width: 15px; height: auto;">
                                                {{country.name}}
                                            </mat-option>
                                            }
                                    </mat-select> -->
                                </div>
                                <div *ngIf="!isItalian" class="col-12 col-lg-6 mb-3">
                                    <label for="licenseNumber" style="font-weight: bold;">License Number</label>
                                    <input type="licenseNumber" name="licenseNumber" id="licenseNumber"
                                        formControlName="licenseNumber" class="form-control form_control" placeholder="">
                                </div>
                                <div *ngIf="isItalian" class="col-12 col-lg-6 mb-3">
                                    <label for="partitaIva" style="font-weight: bold;">Partita Iva</label>
                                    <input type="partitaIva" name="partitaIva" id="partitaIva"
                                        formControlName="partitaIva" class="form-control form_control" placeholder="">
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                    <label for="email" style="font-weight: bold;">Email</label>
                                    <input type="email" name="email" id="email" formControlName="email"
                                        class="form-control form_control" placeholder="" [ngClass]="{'error': !validEmail}">
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                    <label for="phoneNumber" style="font-weight: bold;">Phone Number</label>
                                    <input type="text" name="phoneNumber" id="phoneNumber"
                                        formControlName="phoneNumber" class="form-control form_control" placeholder="(+999) 9999999">
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                    <label for="description" style="font-weight: bold;">Request Info</label>
                                    <textarea name="description" id="description" rows="3"
                                        formControlName="description" class="form-control" placeholder="Write some short infos about your request">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <input name="send" id="send" class="btn btn-block send-btn mb-4" type="button" value="Send"
                            [disabled]="!signupForm.valid" (click)="subscribe()">
                        </div>
                    </form>
                </div>
                <nav class="login-card-footer-nav text-center mb-2">
                    <a href="#!">Terms of use.</a>
                    <a href="#!"> Privacy policy</a>
                </nav>
            </div>
        </div>
    </div>
</div>