<div class="container p-2 mt-4">
    <div class="row justify-content-center align-items-center mb-4">
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <div class="input p-2">
                <label class="title">{{ 'SYSTEM.SYSTEMTICKETLIST.TITLE' | translate}}</label>
                <input class="form-control" type="text" placeholder="Search the request title">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div *ngFor="let ticket of tickets; let j = index" class="col-12 col-lg-6 mb-3">
            <div class="card cardStyle">
                <h5 class="card-header orangeBg">{{ticket.title}}</h5>
                <div class="card-body">
                    <div class="row">
                        <span class="listTitle">Problem Description: </span><br>
                        <div class="col-12">
                            <div class="listDescription">{{ticket.description}}</div>
                        </div>
                    </div>

                    <div *ngIf="setInverterProblem(ticket)" class="row">
                        <div class="col-12 mb-2">
                            <span class="listTitle">Inverter Support: </span><br>
                        </div>
                        <div *ngFor="let inverter of setInverterProblem(ticket); let i = index" class="col-12 col-md-6 mt-1">
                            <div class="card">
                                <div class="card-header text-center">
                                    <span style="font-weight: bold; font-size: small;">Inverter #{{i+1}}</span>
                                </div>
                                <div class="card-body">
                                    <span style="font-size: small; font-weight: bold;">Serial Number: </span><br>
                                    <span style="font-size: small;">{{inverter.serialNumber}}</span><br>
                                    <span style="font-size: small; font-weight: bold;">Model: </span><br>
                                    <span style="font-size: small;">{{inverter.model}}</span><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="setInverterProblem(ticket)">
                            <span class="listTitle">Inverter Support: </span><br>
                            <div style="padding: 1rem;">Support not requested for the inverter</div>
                        </div>
                    </div>

                    <div *ngIf="setClusterProblem(ticket)" class="row mt-3">
                        <div class="col-12 mb-2">
                            <span class="listTitle">Cluster Support: </span><br>
                        </div>
                        <div *ngFor="let battery of setClusterProblem(ticket); let i = index" class="col-12 col-md-6 mt-1">
                            <div class="card cardStyle">
                                <div class="card-header text-center">
                                    <span style="font-size: small; font-weight: bold;">Battery #{{i+1}}</span>
                                </div>
                                <div class="card-body">
                                    <span style="font-size: small; font-weight: bold;">Related Inverter: </span><br>
                                    <span style="font-size: small;">{{battery.relatedInverter}}</span><br>
                                    <span style="font-size: small; font-weight: bold;">Serial Number: </span><br>
                                    <span style="font-size: small;">{{battery.serialNumber}}</span><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div *ngIf="!setClusterProblem(ticket)">
                            <span class="listTitle">Cluster Support: </span><br>
                            <div style="padding: 1rem;">Support not requested for the cluster</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center orangeBg">
                    <div href="#" class="btn btn-outline-dark btn-light" (click)="goTo(ticket.id)">See Ticket</div>
                </div>
            </div>
        </div>
    </div>
</div>
