.titleBorder {
  border-bottom: 2px solid lightgray;
}

.cameraIcon {
  position: absolute;
  right: 12px;
  bottom: 0px;
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
