<div class="container">
    <form [formGroup]="stepFiveForm">
        <div class="form-group">
            <div class="row p-0">
                <div class="col-12 mb-3">
                    <label for="problem_occurred" style="font-weight: bold;">Explain how the problem occured</label>
                    <textarea type="text" name="problem_ccurred" id="problem_occurred"
                        formControlName="problem_occurred" class="form-control"
                        placeholder="Write something"></textarea>
                </div>

                <div class="col-12 mb-3">
                    <label for="problem_description" style="font-weight: bold;">Describe the problem (optional)</label>
                    <textarea type="text" name="problem_description" id="problem_description"
                        formControlName="problem_description" class="form-control"
                        placeholder="Write something"></textarea>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button mat-raised-button matStepperNext (click)="saveStep()">
                Next
            </button>
        </div>
    </form>
</div>