<div class="container p-2">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <label class="searchLabel">SEARCH SYSTEM</label>
            <div class="input p-2 input-group">
                <input [(ngModel)]="searchText" (input)="loadSystemService.filterSystems(searchText)" type="text" class="form-control searchBar" placeholder="Name of the system">
                <button class="btn btn-dark">Cerca</button>
            </div>
        </div>
        <div class="col-12">
            <app-system-card></app-system-card>
        </div>
        <div class="btn button fixed-button" (click)="navigate('/systemName')">
            <span class="mb-1" style="font-weight: bold; font-size: x-large; color: white;">+</span>
        </div>
    </div>
</div>