<div class="container p-2">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <div class="input p-2">
                <label class="searchLabel">SEARCH SYSTEM</label>
                <input [(ngModel)]="searchText" (input)="loadSystemService.filterSystems(searchText)" type="text" class="form-control searchBar mt-2" placeholder="Name of the system">
              </div>
        </div>
        <div class="col-12">
            <app-system-card></app-system-card>
        </div>
        <div class="btn button" (click)="navigate('/systemName')">
            <span style="font-weight: bold; font-size: x-large; color: white;">+</span>
        </div>
    </div>
</div>