<div class="arrowBtn d-none d-sm-inline">
    <a (click)="goBack()" class="btn btn-outline-dark">
        <i class="bi bi-arrow-left arrowIcon"></i>
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 p-2 text-center">
            <h2 class="inline-bordered">
                {{systemInfo.stepOne.system_name}}
            </h2>
        </div>

        <div class="col-12 fst-italic text-center p-1 p-md-3 p-lg-4">
            {{systemInfo.stepOne!.system_description}}
        </div>

        <div class="col-12 col-md-6 text-center mt-2">
            <span class="fst-italic">{{"SYSTEM.SYSTEMMANAGEMENT.MANDATORY" | translate}}<sup>*</sup></span>
        </div>

        <div class="col-12 col-md-6 text-center mt-2">
            <span class="fw-bold">
                {{"SYSTEM.SYSTEMMANAGEMENT.STATUS" | translate}}:
            </span>
            <span class="ms-1">
                <i class="bi bi-circle-fill" style="font-size: large;" [ngClass]="{
                    'text-success': systemStatus?.id === 4,
                    'text-danger': systemStatus?.id === 3,
                    'text-warning': systemStatus?.id === 2,
                    'text-info': systemStatus?.id === 1 }">
                </i>
            </span>
            <span class="ms-1">
                {{systemStatus?.name}}
            </span>
        </div>

        <div class="col-12 p-0">
            <mat-stepper orientation="vertical" [linear]="false" #stepper>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">{{"SYSTEM.SYSTEMMANAGEMENT.SYSANDCUSTINFO" | translate}}</span>
                        <span class="ms-4">
                            <i *ngIf="stepStatusList?.stepOneStatus!.status[0].idstatus == 10" class="bi bi-exclamation-circle-fill"
                                style="color: red; font-size: large;"></i>
                            <i *ngIf="stepStatusList?.stepOneStatus!.status[0].idstatus == 15" class="bi bi-check-circle-fill"
                                style="color: green; font-size: large;"></i>
                            <i *ngIf="stepStatusList?.stepOneStatus!.status[0].idstatus == 5" class="bi bi-question-circle-fill"
                                style="color: yellow; font-size: large;"></i>
                        </span>
                    </ng-template>
                    <app-step-one-readonly *ngIf="stepStatusList?.stepOneStatus!.status[0].idstatus != 10; else stepOneModify" #stepOne
                        (formEmit)="onFormOneReceived($event)" (nextStep)="stepper.next()" [idsystem]="idsystem"
                        [countriesList]="countriesList" [stepOne]="systemInfo.stepOne">
                    </app-step-one-readonly>
                    <ng-template #stepOneModify>
                        <app-error-message [error]="systemErrors.errorStepOne">
                        </app-error-message>
                        <app-step-one #stepOne (formEmit)="onFormOneReceived($event)"
                            (nextStep)="stepper.next()" [isReadonly]="true" [idsystem]="idsystem">
                        </app-step-one>
                    </ng-template>
                </mat-step>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.INSTALLATIONSITE" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="!validStepTwo" class="bi bi-exclamation-circle-fill"
                                style="color: red; font-size: large;"></i>
                            <i *ngIf="validStepTwo" class="bi bi-check-circle-fill"
                                style="color: green; font-size: large;"></i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-two-readonly *ngIf="validStepTwo; else stepTwoModify" #stepTwo
                            (formEmit)="onFormTwoReceived($event)" (nextStep)="stepper.next()"
                            [countriesList]="countriesList" [idsystem]="idsystem" [stepTwo]="systemInfo.stepTwo">
                        </app-step-two-readonly>
                        <ng-template #stepTwoModify>
                            <app-error-message [error]="systemErrors.errorStepOne">
                            </app-error-message>
                            <app-step-two #stepTwo (formEmit)="onFormTwoReceived($event)" (nextStep)="stepper.next()"
                                [idsystem]="idsystem" [isReadonly]="true">
                            </app-step-two>
                        </ng-template>
                    </ng-template>

                </mat-step>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.TECHNICIANINFO" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="!validStepThree" class="bi bi-exclamation-circle-fill"
                                style="color: red; font-size: large;"></i>
                            <i *ngIf="validStepThree" class="bi bi-check-circle-fill"
                                style="color: green; font-size: large;"></i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-three-readonly *ngIf="validStepThree; else stepThreeModify" #stepThree
                            (formEmit)="onFormThreeReceived($event)" (nextStep)="stepper.next()"
                            [stepThree]="systemInfo.stepThree" [countriesList]="countriesList" [idsystem]="idsystem">
                        </app-step-three-readonly>
                        <ng-template #stepThreeModify>
                            <app-error-message [error]="systemErrors.errorStepOne">
                            </app-error-message>
                            <app-step-three #stepThree (formEmit)="onFormThreeReceived($event)"
                                (nextStep)="stepper.next()" [idsystem]="idsystem" [isReadonly]="true">
                            </app-step-three>
                        </ng-template>
                    </ng-template>
                </mat-step>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.DEVICESINFO" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="!validStepFour" class="bi bi-exclamation-circle-fill"
                                style="color: red; font-size: large;"></i>
                            <i *ngIf="validStepFour" class="bi bi-check-circle-fill"
                                style="color: green; font-size: large;"></i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-four-readonly *ngIf="validStepFour; else stepFourModify" #stepFour
                            (formEmit)="onFormFourReceived($event)" (nextStep)="stepper.next()"
                            [stepFour]="systemInfo.stepFour" [idsystem]="idsystem">
                        </app-step-four-readonly>
                        <ng-template #stepFourModify>
                            <app-error-message [error]="systemErrors.errorStepOne">
                            </app-error-message>
                            <app-step-four #stepFour (formEmit)="onFormFourReceived($event)" (nextStep)="stepper.next()"
                                [idsystem]="idsystem" [isReadonly]="true">
                            </app-step-four>
                        </ng-template>
                    </ng-template>
                </mat-step>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.INVERTER" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="!validStepFive" class="bi bi-exclamation-circle-fill"
                                style="color: red; font-size: large;"></i>
                            <i *ngIf="validStepFive" class="bi bi-check-circle-fill"
                                style="color: green; font-size: large;"></i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-five-readonly *ngIf="validStepFive; else stepFiveModify" #stepFive
                            (formEmit)="onFormFiveReceived($event)" (nextStep)="stepper.next()"
                            [stepFive]="systemInfo.stepFive" [idsystem]="idsystem">
                        </app-step-five-readonly>
                        <ng-template #stepFiveModify>
                            <app-error-message [error]="systemErrors.errorStepOne">
                            </app-error-message>
                            <app-step-five #stepFive (formEmit)="onFormFiveReceived($event)" (nextStep)="stepper.next()"
                                [idsystem]="idsystem" [isReadonly]="true">
                            </app-step-five>
                        </ng-template>
                    </ng-template>
                </mat-step>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.BATTERIES" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="!validStepSix" class="bi bi-exclamation-circle-fill"
                                style="color: red; font-size: large;"></i>
                            <i *ngIf="validStepSix" class="bi bi-check-circle-fill"
                                style="color: green; font-size: large;"></i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-six-readonly *ngIf="validStepSix; else stepSixModify" #stepSix
                            (formEmit)="onFormSixReceived($event)" (nextStep)="stepper.next()"
                            [stepSix]="systemInfo.stepSix" [idsystem]="idsystem">
                        </app-step-six-readonly>
                        <ng-template #stepSixModify>
                            <app-error-message [error]="systemErrors.errorStepOne">
                            </app-error-message>
                            <app-step-six #stepSix (formEmit)="onFormSixReceived($event)" (nextStep)="stepper.next()"
                                [idsystem]="idsystem" [isReadonly]="true">
                            </app-step-six>
                        </ng-template>
                    </ng-template>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>


<!-- <div class="arrowBtn d-none d-sm-inline">
    <a (click)="goBack()" class="btn btn-outline-dark">
        <i class="bi bi-arrow-left arrowIcon"></i>
    </a>
</div>

<div *ngIf="idsystem > 0; else blockError;" class="container fullPage p-2 p-md-3 p-lg-4" style="min-width: 350px;">
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-12 text-center" style="font-size: xx-large; font-weight: bold;">
            <span class="inline-bordered">
                {{systemInfo.stepOne!.system_name}}
            </span>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-2 p-md-1 p-lg-2 p-xl-3">
        <div class="col-12 fst-italic text-center">
            {{systemInfo.stepOne!.system_description}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3 title">
            {{"SYSTEM.READONLY.OWNER" | translate}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles me-5">{{"SYSTEM.READONLY.NAME" | translate}}: </span>
            <p class="content">{{systemInfo.stepOne!.customer_name}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles me-5">{{"SYSTEM.READONLY.SURNAME" | translate}}: </span>
            <p class="content">{{systemInfo.stepOne!.customer_surname}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles me-5">{{"SYSTEM.READONLY.PHONE" | translate}}: </span>
            <p class="content">{{systemInfo.stepOne!.customer_phone}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles me-5">{{"SYSTEM.READONLY.COUNTRY" | translate}}: </span>
            <p class="content">{{customerCountry}}</p>
        </div>
        <div *ngIf="systemInfo?.stepOne?.ccn3 !== '380'; else italianBlock" class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles me-5">{{"SYSTEM.READONLY.LICENSENUMBER" | translate}}: </span>
            <p class="content">{{systemInfo.stepOne!.customer_licensenumber}}</p>
        </div>
        <ng-template #italianBlock>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <span class="subtitles me-5">{{"SYSTEM.READONLY.FISCALCODE" | translate}}: </span>
                <p class="content">{{systemInfo.stepOne!.customer_fiscalcode}}</p>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <span class="subtitles me-5">{{"SYSTEM.READONLY.VAT" | translate}}: </span>
                <p class="content">{{systemInfo.stepOne!.customer_vat}}</p>
            </div>
        </ng-template>
    </div>

    <div class="row">
        <div class="col-12 mb-3 title">
            {{"SYSTEM.READONLY.INSTALLERINFO" | translate}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles">{{"SYSTEM.READONLY.COMPANYNAME" | translate}}: </span>
            <p class="content">{{systemInfo.stepThree!.installer_companyname}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles">{{"SYSTEM.READONLY.COUNTRY" | translate}}: </span>
            <p class="content">{{installerCountry}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles">{{"SYSTEM.READONLY.ADDRESS" | translate}}: </span>
            <p class="content">{{systemInfo.stepThree!.installer_address}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles">{{"SYSTEM.READONLY.DATEOFPURCHASE" | translate}}: </span>
            <p class="content">{{systemInfo.stepThree!.installer_dateofpurchase}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles">{{"SYSTEM.READONLY.VENDORCONTACT" | translate}}: </span>
            <p class="content">{{systemInfo.stepThree!.vendor_contact}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <span class="subtitles">{{"SYSTEM.READONLY.EMAIL" | translate}}: </span>
            <p class="content">{{systemInfo.stepThree!.installer_email}}</p>
        </div>

        <div *ngIf="imagesStep3.length > 0" class="col-12 mb-2 text-center">
            <span class="subtitles">{{"SYSTEM.READONLY.ATTACHEDFILES" | translate}}</span>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center align-items-center mt-4">
                <ng-container *ngFor="let image3 of imagesStep3">
                    <div class="col-6 col-md-2 mb-4 text-center" style="width: 100px; height: 100px;">
                        <img [src]="urlServerLara + image3.src" [alt]="image3.title" class="img-fluid thumbnailImg"
                            (click)="setImage(image3)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3 title">
            {{"SYSTEM.READONLY.INSTALLATIONSITE" | translate}}
        </div>
        <div class="row">
            <div class="col-6 col-lg-3">
                <span class="subtitles">{{"SYSTEM.READONLY.COUNTRY" | translate}}: </span>
                <p class="content">{{installerCountry}}</p>
            </div>
            <div class="col-6 col-lg-3">
                <span class="subtitles">{{"SYSTEM.READONLY.ADDRESS" | translate}}: </span>
                <p class="content">{{systemInfo.stepTwo!.location_address}}</p>
            </div>
            <div class="col-6 col-lg-3">
                <span class="subtitles">{{"SYSTEM.READONLY.CITY" | translate}}: </span>
                <p class="content">{{systemInfo.stepTwo!.location_city}}</p>
            </div>
            <div class="col-6 col-lg-3">
                <span class="subtitles">{{"SYSTEM.READONLY.POSTALCODE" | translate}}: </span>
                <p class="content">{{systemInfo.stepTwo!.location_postalcode}}</p>
            </div>

            <div *ngIf="imagesStep2.length > 0" class="col-12 mb-2 text-center">
                <span class="subtitles">{{"SYSTEM.READONLY.ATTACHEDFILES" | translate}}</span>
            </div>

            <div class="container-fluid">
                <div class="row justify-content-center align-items-center mt-4">
                    <ng-container *ngFor="let image2 of imagesStep2">
                        <div class="col-6 col-md-2 mb-4 text-center" style="width: 100px; height: 100px;">
                            <img [src]="urlServerLara + image2.src" [alt]="image2.title" class="img-fluid thumbnailImg"
                                (click)="setImage(image2)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3 title">
            {{"SYSTEM.READONLY.PRODUCTINFO" | translate}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.INSTALLATIONDATE" | translate}}: </span>
            <p class="content">{{systemInfo.stepFour.product_installdate}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.SYSCOMPOSITION" | translate}}: </span>
            <p class="content">{{systemInfo.stepFour.product_systemcomposition}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.WECOCOMPONENTS" | translate}}: </span>
            <p class="content">{{systemInfo.stepFour.product_systemweco}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.OTHERBRAND" | translate}}: </span>
            <p class="content">{{systemInfo.stepFour.product_brand}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3 title">
            {{"SYSTEM.READONLY.INVERTERINFO" | translate}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.HYBRID" | translate}}: </span>
            <p class="content">{{systemInfo.inverter.inverter_hybrid? "Yes" : "No"}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.ONLINE" | translate}}: </span>
            <p class="content">{{systemInfo.inverter.inverter_online? "Yes" : "No"}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.INVERTERSNUMBER" | translate}}: </span>
            <p class="content">{{systemInfo.inverter.inverter_number}}</p>
        </div>
        <div *ngIf="systemInfo.inverter.inverter_number! > 1" class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.PARALLELPOWER" | translate}}: </span>
            <p class="content">{{systemInfo.inverter.inverter_communication? "Yes" : "No"}}</p>
        </div>
        <div *ngIf="systemInfo.inverter.inverter_number! > 1" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.PARALLELCOMUNICATION" | translate}}: </span>
            <p class="content">{{systemInfo.inverter.inverter_communication? "Yes" : "No"}}</p>
        </div>
        <div *ngIf="systemInfo.inverter.inverter_number! > 1" class="col-lg-8 d-none d-sm-inline"></div>
        <div *ngIf="systemInfo.inverter.inverter_number! <= 1"
            class="col-sm-6 col-lg-3 d-none d-md-none d-lg-inline d-sm-inline"></div>
        <div *ngFor="let inverter of systemInfo.inverter.inverters_list; let i = index"
            class="col mt-4 text-center d-flex justify-content-center">
            <div class="card" style="min-width: 250px;">
                <div class="card-header" style="font-weight: bold;">
                    {{"SYSTEM.READONLY.INVERTER" | translate}} n. {{i+1}}
                </div>
                <div class="card-body">
                    <span class="subtitles">{{"SYSTEM.READONLY.MODEL" | translate}}</span><br>
                    <span>{{inverter.model}}</span><br>
                    <span class="subtitles">{{"SYSTEM.READONLY.SERIALNUMBER" | translate}}</span><br>
                    <span>{{inverter.serialnumber}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3 title">
            {{"SYSTEM.READONLY.CLUSTERINFO" | translate}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.VOLTAGE" | translate}}: </span>
            <p class="content">{{systemInfo.cluster.refidwecaresystemvolt}}</p>
        </div>
        <div class="col-6 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.MODEL" | translate}}: </span>
            <p class="content">{{systemInfo.cluster.system_model}}</p>
        </div>
        <div class="col-6 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.TYPE" | translate}}: </span>
            <p class="content">{{systemInfo.cluster.refidwecaresystemtype}}</p>
        </div>
        <div class="col-6 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.SINGLECLUSTER" | translate}}: </span>
            <p class="content">{{systemInfo.cluster.cluster_singlebattery? "Yes" : "No"}}</p>
        </div>
        <div *ngIf="systemInfo.cluster.cluster_singlebattery! == 0" class="col-6 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.PARALLELCLUSTERS" | translate}}: </span>
            <p class="content">{{systemInfo.inverter.inverter_communication? "Yes" : "No"}}</p>
        </div>
        <div *ngIf="systemInfo.cluster.cluster_singlebattery! == 0" class="col-6 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.CLUSTERNUMBER" | translate}}: </span>
            <p class="content">{{systemInfo.cluster.cluster_number}}</p>
        </div>
        <div *ngIf="systemInfo.cluster.cluster_singlebattery! == 0" class="col-12 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.DEVICESFORCLUSTER" | translate}}: </span>
            <p class="content">{{systemInfo.cluster.cluster_numberdevices}}</p>
        </div>
        <div class="col-lg-3 d-none d-lg-inline"></div>
        <div *ngFor="let cluster of systemInfo.cluster.clusters_list; let i = index"
            class="col text-center d-flex justify-content-center mt-4">
            <div class="card" style="min-width: 250px;">
                <div class="card-header" style="font-weight: bold;">
                    {{cluster.name}}
                </div>
                <div class="card-body">
                    <div *ngFor="let slave of cluster.batteries; let y = index"
                        style="border-bottom: 1px solid lightgray;">
                        <span *ngIf="y == 0;" style="font-weight: bold;">{{"SYSTEM.READONLY.MASTER" |
                            translate}}<br></span>
                        <span *ngIf="y > 0" style="font-weight: bold;">{{"SYSTEM.READONLY.SLAVE" | translate}}
                            {{y}}<br></span>
                        <span>{{slave.serialnumber}}</span><br>
                    </div><br>
                    <span class="subtitles mt-2">{{"SYSTEM.READONLY.RELATEDINVERTER" | translate}}</span><br>
                    <div *ngFor="let inverter of cluster.inverters">
                        {{inverter.serialnumber}},
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <img [src]="urlServerLara + modalImageUrl" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<ng-template #blockError class="mt-4 p-2 text-center">
    <h1>{{"SYSTEM.READONLY.LOADINGERROR" | translate}}</h1><br>
    <h3 class="mt-4">{{"SYSTEM.READONLY.REFRESH" | translate}}</h3>
</ng-template> -->