<div class="arrowBtn d-none d-sm-inline">
    <a (click)="goBack()" class="btn btn-outline-dark">
        <i class="bi bi-arrow-left arrowIcon"></i>
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 p-2 text-center">
            <h2 class="inline-bordered">
                {{systemInfo.stepOne.system_name}}
            </h2>
        </div>

        <div class="col-12 fst-italic text-center p-1 p-md-3 p-lg-4">
            {{systemInfo.stepOne!.system_description}}
        </div>

        <div class="col-12 col-md-6 text-center mt-2">
            <span class="fst-italic">{{"SYSTEM.SYSTEMMANAGEMENT.MANDATORY" | translate}}<sup>*</sup></span>
        </div>

        <div class="col-12 col-md-6 text-center mt-2">
            <span class="fw-bold">
                {{"SYSTEM.SYSTEMMANAGEMENT.STATUS" | translate}}:
            </span>
            <span *ngIf="systemStatus" class="ms-1">
                <i class="bi bi-circle-fill" style="font-size: large;" [ngStyle]="{'color':  '#'+systemStatus.color}">
                </i>
            </span>
            <span class="ms-1">
                {{systemStatus?.name}}
            </span>
        </div>

        <div class="col-12 p-0">
            <mat-stepper *ngIf="stepStatusList.length > 0" orientation="vertical" [linear]="false" #stepper>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">{{"SYSTEM.SYSTEMMANAGEMENT.SYSANDCUSTINFO" | translate}}</span>
                        <span class="ms-4">
                            <i *ngIf="stepStatusList[0].listStepStatus[0].idstepstatus == 10"
                                class="bi bi-exclamation-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[0].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[0].listStepStatus[0].idstepstatus == 15"
                                class="bi bi-check-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[0].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[0].listStepStatus[0].idstepstatus == 5"
                                class="bi bi-question-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color': '#'+stepStatusList[0].listStepStatus[0].color}">
                            </i>
                        </span>
                    </ng-template>
                    <app-step-one-readonly
                        *ngIf="stepStatusList[0].listStepStatus[0].idstepstatus != 10; else stepOneModify" #stepOne
                        (formEmit)="onFormOneReceived($event)" (nextStep)="stepper.next()" [idsystem]="idsystem"
                        [countriesList]="countriesList" [stepOne]="systemInfo.stepOne">
                    </app-step-one-readonly>
                    <ng-template #stepOneModify>
                        <app-error-message [error]="stepStatusList[0].listStepStatus">
                        </app-error-message>
                        <app-step-one #stepOne (formEmit)="onFormOneReceived($event)" (nextStep)="stepper.next()"
                            [isReadonly]="true" [idsystem]="idsystem" (readonlyEmit)="onDataReceived()">
                        </app-step-one>
                    </ng-template>
                </mat-step>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.INSTALLATIONSITE" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="stepStatusList[1].listStepStatus[0].idstepstatus == 10"
                                class="bi bi-exclamation-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[1].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[1].listStepStatus[0].idstepstatus == 15"
                                class="bi bi-check-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[1].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[1].listStepStatus[0].idstepstatus == 5"
                                class="bi bi-question-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[1].listStepStatus[0].color}">
                            </i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-two-readonly
                            *ngIf="stepStatusList[1].listStepStatus[0].idstepstatus != 10; else stepTwoModify" #stepTwo
                            (formEmit)="onFormTwoReceived($event)" (nextStep)="stepper.next()"
                            [countriesList]="countriesList" [idsystem]="idsystem" [stepTwo]="systemInfo.stepTwo">
                        </app-step-two-readonly>
                        <ng-template #stepTwoModify>
                            <app-error-message [error]="stepStatusList[1].listStepStatus">
                            </app-error-message>
                            <app-step-two #stepTwo (formEmit)="onFormTwoReceived($event)" (nextStep)="stepper.next()"
                                [idsystem]="idsystem" [isReadonly]="true" (readonlyEmit)="onDataReceived()">
                            </app-step-two>
                        </ng-template>
                    </ng-template>

                </mat-step>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.TECHNICIANINFO" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="stepStatusList[2].listStepStatus[0].idstepstatus == 10"
                                class="bi bi-exclamation-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[2].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[2].listStepStatus[0].idstepstatus == 15"
                                class="bi bi-check-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[2].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[2].listStepStatus[0].idstepstatus == 5"
                                class="bi bi-question-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[2].listStepStatus[0].color}">
                            </i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-three-readonly
                            *ngIf="stepStatusList[2].listStepStatus[0].idstepstatus != 10; else stepThreeModify"
                            #stepThree (formEmit)="onFormThreeReceived($event)" (nextStep)="stepper.next()"
                            [stepThree]="systemInfo.stepThree" [countriesList]="countriesList" [idsystem]="idsystem">
                        </app-step-three-readonly>
                        <ng-template #stepThreeModify>
                            <app-error-message [error]="stepStatusList[2].listStepStatus">
                            </app-error-message>
                            <app-step-three #stepThree (formEmit)="onFormThreeReceived($event)" (readonlyEmit)="onDataReceived()"
                                (nextStep)="stepper.next()" [idsystem]="idsystem" [isReadonly]="true">
                            </app-step-three>
                        </ng-template>
                    </ng-template>
                </mat-step>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.DEVICESINFO" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="stepStatusList[3].listStepStatus[0].idstepstatus == 10"
                                class="bi bi-exclamation-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[3].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[3].listStepStatus[0].idstepstatus == 15"
                                class="bi bi-check-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[3].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[3].listStepStatus[0].idstepstatus == 5"
                                class="bi bi-question-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[3].listStepStatus[0].color}">
                            </i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-four-readonly
                            *ngIf="stepStatusList[3].listStepStatus[0].idstepstatus != 10; else stepFourModify"
                            #stepFour (formEmit)="onFormFourReceived($event)" (nextStep)="stepper.next()"
                            [stepFour]="systemInfo.stepFour" [idsystem]="idsystem">
                        </app-step-four-readonly>
                        <ng-template #stepFourModify>
                            <app-error-message [error]="stepStatusList[3].listStepStatus">
                            </app-error-message>
                            <app-step-four #stepFour (formEmit)="onFormFourReceived($event)" (nextStep)="stepper.next()"
                                [idsystem]="idsystem" [isReadonly]="true" (readonlyEmit)="onDataReceived()">
                            </app-step-four>
                        </ng-template>
                    </ng-template>
                </mat-step>

                <mat-step errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.INVERTER" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="stepStatusList[4].listStepStatus[0].idstepstatus == 10"
                                class="bi bi-exclamation-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[4].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[4].listStepStatus[0].idstepstatus == 15"
                                class="bi bi-check-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[4].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[4].listStepStatus[0].idstepstatus == 5"
                                class="bi bi-question-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[4].listStepStatus[0].color}">
                            </i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-five-readonly
                            *ngIf="stepStatusList[4].listStepStatus[0].idstepstatus != 10 || stepStatusList[3].listStepStatus[0].idstepstatus == 10; else stepFiveModify"
                            #stepFive (formEmit)="onFormFiveReceived($event)" (nextStep)="stepper.next()"
                            [stepFive]="systemInfo.stepFive" [idsystem]="idsystem">
                        </app-step-five-readonly>
                        <ng-template #stepFiveModify>
                            <app-error-message [error]="stepStatusList[4].listStepStatus">
                            </app-error-message>
                            <app-step-five #stepFive (formEmit)="onFormFiveReceived($event)" (nextStep)="stepper.next()"
                                [idsystem]="idsystem" [isReadonly]="true" (readonlyEmit)="onDataReceived()">
                            </app-step-five>
                        </ng-template>
                    </ng-template>
                </mat-step>

                <mat-step *ngIf="systemInfo.stepFour.product_systemcomposition == 3 && stepStatusList.length > 4" errorMessage="Incomplete">
                    <ng-template matStepLabel>
                        <span style="font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.BATTERIES" | translate}}
                        </span>
                        <span class="ms-4">
                            <i *ngIf="stepStatusList[5].listStepStatus[0].idstepstatus == 10"
                                class="bi bi-exclamation-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[5].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[5].listStepStatus[0].idstepstatus == 15"
                                class="bi bi-check-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[5].listStepStatus[0].color}">
                            </i>
                            <i *ngIf="stepStatusList[5].listStepStatus[0].idstepstatus == 5"
                                class="bi bi-question-circle-fill" style="font-size: large;"
                                [ngStyle]="{'color':  '#'+stepStatusList[5].listStepStatus[0].color}">
                            </i>
                        </span>
                    </ng-template>
                    <ng-template matStepContent>
                        <app-step-six-readonly
                            *ngIf="stepStatusList[5].listStepStatus[0].idstepstatus != 10 || stepStatusList[4].listStepStatus[0].idstepstatus == 10; else stepSixModify" #stepSix
                            (formEmit)="onFormSixReceived($event)" (nextStep)="stepper.next()"
                            [stepSix]="systemInfo.stepSix" [idsystem]="idsystem">
                        </app-step-six-readonly>
                        <ng-template #stepSixModify>
                            <app-error-message [error]="stepStatusList[5].listStepStatus">
                            </app-error-message>
                            <app-step-six #stepSix (formEmit)="onFormSixReceived($event)" (nextStep)="stepper.next()"
                                [idsystem]="idsystem" [isReadonly]="true" (readonlyEmit)="onDataReceived()">
                            </app-step-six>
                        </ng-template>
                    </ng-template>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>
