<div class="container">
    <div class="row p-0">
        <div class="col-12 mb-3">
            <label for="problemOccurred" style="font-weight: bold;">Explain how the problem occured</label>
            <textarea type="text" name="problemOccurred" id="problemOccurred" formControlName="problemOccurred"
                class="form-control" placeholder="Write something"></textarea>
        </div>

        <div class="col-12 mb-3">
            <label for="description" style="font-weight: bold;">Describe the problem (optional)</label>
            <textarea type="text" name="description" id="description" formControlName="description" class="form-control"
                placeholder="Write something"></textarea>
        </div>
    </div>
</div>