.title {
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
}

.listTitle {
    font-weight: bold;
}

.cardStyle {
    height: 100%;
}

.listDescription {
    padding: 1rem;
}

.orangeBg {
    background-color: #FFE5D0;
}

.rowStyle {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.cardStyle {
    height: 100%;
}

