<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-12">
            <div *ngIf="!isSystem" class="col-12 text-center p-4" style="color: grey;">
                No system available, try to add one.
            </div>
            <div class="card mt-4" *ngFor="let system of systems" (click)="goTo(system.systemName)">
                <h5 class="card-header">{{system.systemName}}</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mt-2">
                            <span style="font-weight: bold;">Supplier Name:</span><br>
                            <span class="content">{{system.supplierInfo.name}}</span>
                        </div>
                        <div class="col-12 col-md-6 mt-2">
                            <span style="font-weight: bold;">System Description:</span><br>
                            <span class="content">{{system.description}}</span>
                        </div>
                        <div class="col-12 col-md-6 mt-2">
                            <span style="font-weight: bold;">installation Site:</span><br>
                            <span class="content">{{system.installationSite.city}}</span>
                        </div>
                        <div class="col-12 col-md-6 mt-2">
                            <span style="font-weight: bold;">Problem Occurred:</span><br>
                            <span class="content">{{system.additionalInfo.problemOccurred}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
