.content {
    padding: 1rem;
}

// .card {
//     background-color: #dee2e6;
// }

.card:hover {
    cursor: pointer;
}

// .header {
//     border-bottom: 2px solid lightgray;
// }

.cardTitle {
    font-weight: bold;
}

.status {
    margin-left: 10px;
    font-size: large;
}