.content {
    margin: 0.5rem;
}

// .card {
//     background-color: #dee2e6;
// }

.card:hover {
    cursor: pointer;
}

// .header {
//     border-bottom: 2px solid lightgray;
// }

.cardTitle {
    font-weight: bold;
}

.status {
    margin-left: 10px;
    font-size: large;
}

.noPointer:hover {
    cursor: default;
}

.iconCursor:hover {
    cursor: pointer;
}

.card {
    border-color: gray;
}

.card-header {
    border-color: gray;
}

.card-body {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.element {
    border-bottom: 1px solid gray;
    padding-bottom: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
}

.element:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {

    .element:nth-last-child(1),
    .element:nth-last-child(2) {
        border-bottom: none;
        /* Rimuove il bordo inferiore dagli ultimi due elementi */
    }
}

.col-md-6:nth-child(even) {
    border-right: 1px solid gray;

    @media screen and (max-width:768px) {
        border-right: none;
    }
}
