<div class="container p-2">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center mt-4 form-group">
            <form [formGroup]="newSystemForm">
                <div class="p-2 form-group">
                    <label for="title" style="font-weight: bold;">
                        SYSTEM NAME
                        <mat-icon
                            matTooltip="Choose a general name for your system. You'll see it as a reference to your system"
                            style="font-size: medium;">info</mat-icon>
                    </label>
                    <input type="text" name="title" id="title" class="form-control mt-1" formControlName="title" placeholder="System name">
                </div>

                <div class="p-2">
                    <label for="description" style="font-weight: bold;">
                        SHORT DESCRIPTION
                        <mat-icon matTooltip="Write a short description about the system, just as an overview"
                            style="font-size: medium;">info</mat-icon>
                    </label>
                    <textarea type="text" name="description" id="description" formControlName="description"
                        class="form-control" placeholder="Write some short info"></textarea>
                </div>
            </form>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center mt-3">
            <label *ngIf="newSystemForm.invalid" for="save" style="font-size: x-small;">Name is mandatory</label><br>
            <button class="btn btn-outline-dark" id="save" [disabled]="newSystemForm.invalid" (click)="sendNewSystem()">
                Salva
            </button>
        </div>
    </div>
</div>