<div class="container p-2 mt-4">
    <div class="row justify-content-center p-2">
        <div class="col-12">
            <div class="card">
                <div class="card-header orangeBg" style="font-weight: bold;">
                    {{ticket?.title}}
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-6 mt-2">
                            <span style="font-weight: bold;">Date of submission: </span><br>
                            <div class="p-1">
                                {{ticket?.date_ticket}}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mt-2">
                            <span style="font-weight: bold;">Status: </span><br>
                            <div class="p-1">
                                {{ticket?.status}}
                            </div>
                            <span class="bi bi-circle-fill statusIcon" [ngClass]="{
                                'text-success': ticket?.status === 'Completed',
                                'text-danger': ticket?.status === 'Working',
                                'text-warning': ticket?.status === 'Waiting'}">
                            </span>
                        </div>
                        <div class="col-12 col-sm-6 mt-2">
                            <span style="font-weight: bold; font-size: large;">Description of the problem: </span><br>
                            <div class="p-1">
                                {{ticket?.description}}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mt-2">
                            <span style="font-weight: bold;">System Info: </span><br>
                            <div class="p-1">
                                {{system?.system_name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>