<form [formGroup]="stepClusterForm">
  <div class="row mt-3">
    <mat-card style="border-bottom: 2px solid lightgray;">
      <mat-card-header class="titleBorder">
        <mat-card-title style="font-weight: bold;">Battery Info</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="col-12 p-0">
          <label class="mt-3" for="refidwecaresystemvolt" style="font-weight: bold; font-size: medium;">
            High or low voltage</label>
          <select class="form-select" formControlName="refidwecaresystemvolt" id="refidwecaresystemvolt">
            <option [ngValue]="null">Select a value</option>
            <option *ngFor="let volt of systemVolt"
            [ngValue]="volt.id">{{language_now == 'it' ? volt.name_it : volt.name_en}}</option>
          </select>
        </div>
        <div class="col-12 p-0" *ngIf="stepClusterForm.get('refidwecaresystemvolt')?.value != null">
          <label class="mt-3" for="system_model" style="font-weight: bold; font-size: medium;">System
            Model</label>
          <select class="form-select" formControlName="system_model">
            <option [ngValue]="null" id="system_model">Select a model</option>
            <option *ngFor="let model of systemModel_view" [ngValue]="model.id">
              {{language_now == 'it' ? model.name_it : model.name_en}}
            </option>
          </select>
        </div>

        <div class="col-12 p-0" *ngIf="stepClusterForm.get('system_model')?.value != null">
          <label class="mt-3" for="refidwecaresystemtype" style="font-weight: bold; font-size: medium;">Battery
            Type</label>
          <select class="form-select" formControlName="refidwecaresystemtype" id="refidwecaresystemtype">
            <option [ngValue]="null">Select a type</option>
            <option *ngFor="let type of systemType_view" [ngValue]="type.id">
              {{language_now == 'it' ? type.name_it : type.name_en}}
            </option>
          </select>
        </div>


        <div *ngIf="stepClusterForm.get('refidwecaresystemtype')?.value != null" class="col-12 p-0">
          <label class="form-check-label mt-3 mr-2" for="singleBattery">
            Single Battery</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input mt-1" type="radio"  [value]="1" formControlName="cluster_singlebattery">
            <label class="form-check-label" for="yes">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input mt-1" type="radio"  [value]="0" formControlName="cluster_singlebattery">
            <label class="form-check-label" for="no">No</label>
          </div>
        </div>
        <div *ngIf="stepClusterForm.get('cluster_singlebattery')?.value == 0" class="col-12 p-0">

          <div class="col-12 p-0">
            <label class="form-check-label mt-3 mr-2" for="cluster_parallel">
              Parallel Cluster</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input mt-1" type="radio" id="cluster_parallel_yes" [value]="1"
                formControlName="cluster_parallel">
              <label class="form-check-label" for="cluster_parallel_yes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input mt-1" type="radio" [value]="0" id="cluster_parallel_no"
                formControlName="cluster_parallel">
              <label class="form-check-label" for="cluster_parallel_no">No</label>
            </div>
          </div>

          <div class="col-12 mt-3 p-0">
            <label for="itemsForCluster" style="font-weight: bold; font-size: medium;">Batteries for
              Cluster</label>
            <select class="form-select" formControlName="itemsForCluster">
              <option [ngValue]="null" disabled selected>Select a value</option>
              <option *ngFor="let number of numbers" [value]="number"> {{number}}
              </option>
            </select>
          </div>
<!--
           <mat-card class="col-12 col-sm-6 col-md-4 col-lg-3">
            <mat-card-header style="border-bottom: 2px solid lightgray;">
              <mat-card-title style="font-weight: bold; font-size: medium;">
                Cluster 1</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row justify-content-center" formGroupName="battery">
                <div class="col-12 mt-2 p-0">
                  <label style="font-weight: bold; font-size: medium;">Serial Number</label>
                  <input class="form-control" type="text" formControlName="serialNumber">
                </div>
                <div class="col-12 mt-2 p-0 form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="askSupport"
                    formControlName="askSupport">
                  <label class="form-check-label" for="askSupport">Ask Support for
                    this cluster</label>
                </div>
              </div>

              <div class="col-12 col-md-6 mb-3">
                <label for="relatedInverter" style="font-weight: bold;">Related Inverter</label>
                <select class="form-select" aria-label="select example" formControlName="relatedInverter">
                  <option [ngValue]="null" disabled selected>Select an Option</option>
                  <option value="inverter"> Inverter 1 </option>
                  <option value="batteryInverter"> Inverter 2 </option>
                </select>
              </div>
            </mat-card-content>
          </mat-card> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>
