
.section {
    font-weight: bold;
}

.btn-default {
    border-color: rgba(24,28,33,0.1);
    background: rgba(0,0,0,0);
    color: #4E5155;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.row-bordered {
    overflow: hidden;
}

.options {
    border-right: 1px solid lightgray;
}

.list-group-item.active {
    background-color: #212529;
    border-color: #212529;
    color: #fff;
}

.switcher-label {
    margin-left: 10px;
}

.input-container {
    position: relative;
    margin-bottom: 1rem;
}

.input-container .form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.input-container .form-control {
    padding-right: 2.5rem;
    width: 100%; 
}

.input-container .icon {
    position: absolute;
    right: 10px;
    top: 74%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}



