.thumbnailImg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid black;
}

.hoverPointer {
    color: red;
}

.hoverPointer:hover {
    cursor: pointer;
}