<div class="d_flex d-flex align-items-center py-3 py-md-1">
    <div class="container" id="fullPage">
        <div class="card login-card">
            <div class="row justify-content-center">
                <!-- <div class="col-md-5 d-none d-md-block align-self-center" style="border-right: 2px solid lightgray;">
                    <img src="assets/img/batteries.png" alt="login" class="login-card-img ml-5">
                </div> -->
                <div class="col-12 text-center">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="assets/img/logo.png" alt="logo" class="logo">
                        </div>
                        <p class="login-card-description">{{"NEWPASSWORD.INSERT" | translate}}</p>
                        <p style="font-size: x-small; margin-bottom: 23px;">
                            {{"NEWPASSWORD.PSWINFO" | translate}}
                        </p>
                        <div class="col-12">
                            <form [formGroup]="newPswForm" class="has-validation" style="margin: 0 auto;">
                                <div class="form-group">
                                    <label for="password" style="font-weight: bold;">{{"NEWPASSWORD.NEWPSW" | translate}}</label>
                                    <div class="input-container">
                                        <input [type]="type1" name="password" id="password" formControlName="password"
                                            class="form-control" placeholder="" [ngClass]="{'error': errorMessage}"
                                            required>
                                        <i class="bi bi-eye" [ngClass]="{'bi-eye': !toggled1, 'bi-eye-slash': toggled1}"
                                            id="togglePassword" (click)="seePassword('password')"></i>
                                    </div>
                                    <label for="passwordRepeat" style="font-weight: bold;">{{"NEWPASSWORD.REPEATPSW" | translate}}</label>
                                    <div class="input-container">
                                        <input [type]="type2" name="passwordRepeat" id="passwordRepeat"
                                            formControlName="passwordRepeat" class="form-control" placeholder=""
                                            [ngClass]="{'error': errorMessage}" required>
                                        <i class="bi" [ngClass]="{'bi-eye': !toggled2, 'bi-eye-slash': toggled2}"
                                            id="togglePassword" (click)="seePassword('passwordRepeat')"></i>
                                    </div>
                                    <div *ngIf="errorMessage && !validPassword" id="email"
                                        style="color: rgb(255, 0, 0);">
                                        <small>{{"NEWPASSWORD.ERROR1" | translate}}</small>
                                    </div>
                                    <div *ngIf="errorMessage && !equalPassword" id="email"
                                        style="color: rgb(255, 0, 0);">
                                        <small>{{"NEWPASSWORD.ERROR2" | translate}}</small>
                                    </div>
                                </div>
                                <input name="send" id="send" class="btn btn-block send-btn mb-4" type="button"
                                    value="Send" (click)="send()">
                            </form>
                        </div>
                        <nav class="login-card-footer-nav">
                            <a href="#!">{{"NEWPASSWORD.USERTERMS" | translate}}</a>
                            <a href="#!">{{"NEWPASSWORD.PRIVACY" | translate}}</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>