<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.COMPANYNAME" | translate}}: </span>
            <p class="content">{{stepThree?.installer_companyname}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.COUNTRY" | translate}}: </span>
            <p class="content">{{country_name}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.ADDRESS" | translate}}: </span>
            <p class="content">{{stepThree?.installer_address}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.DATEOFPURCHASE" | translate}}: </span>
            <p class="content">{{stepThree?.installer_dateofpurchase | date: (currentLanguage === 'it' ? 'dd/MM/yyyy' :
                'yyyy-MM-dd')}}</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.VENDORCONTACT" | translate}}: </span>
            <p *ngIf="stepThree?.vendor_contact; else emptyFieldVendor" class="content">{{stepThree?.vendor_contact}}
            </p>
            <ng-template #emptyFieldVendor>
                <p class="content">-</p>
            </ng-template>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <span class="subtitles">{{"SYSTEM.READONLY.EMAIL" | translate}}: </span>
            <p class="content">{{stepThree?.installer_email}}</p>
        </div>

        <div *ngIf="imagesStep.length > 0" class="col-12 mb-2 text-center">
            <span class="subtitles">{{"SYSTEM.READONLY.ATTACHEDFILES" | translate}}</span>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center mt-2">
                <ng-container *ngFor="let image of imagesStep">
                    <div *ngIf="image.src && readonlyPopup; else noModal" class="col-xs-12 col-sm-6 col-md-2 mb-4 text-center"
                        style="width: 100px; height: 100px;" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="openModal(image.src)">
                        <!-- L'URL sicuro è già gestito nel componente -->
                        <img [src]="urlServerLaraMedia+image.src" class="img-fluid thumbnailImg">
                        <!-- <img [src]="image.src" [alt]="image.title" class="img-fluid thumbnailImg"> -->
                    </div>
                    <ng-template #noModal>
                        <div class="col-xs-12 col-sm-6 col-md-2 mb-4 text-center" style="width: 100px; height: 100px;">
                          <!-- L'URL sicuro è già gestito nel componente -->
                          <img [src]="urlServerLaraMedia+image.src" [alt]="image.title" class="img-fluid thumbnailImg">
                        </div>
                      </ng-template>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<!-- Visualizzazione immagine -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <img *ngIf="selectedImage" [src]="selectedImage" style="width: 150%; height: auto;">
        </div>
    </div>
</div>