.searchLabel {
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
}

.fixed-button:hover {
    background-color: #4d4949;
    /* Colore di sfondo del pulsante al passaggio del mouse */
}

.searchBar {
    height: 50px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #000000;
}

.btn:focus {
    box-shadow: none;
    border-color: #000000;
}

.description {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tickets:hover {
    cursor: pointer;
}
