.navbarLogo {
    margin-left: 20px;
    max-width: 90px;
    height: auto;
    object-fit: contain;
}

.profileButton:focus {
    box-shadow: none;
}

.navbar {
    background-color: #F8F8F8;
    border-bottom: 1px solid lightgrey;
}

.navItem:hover {
    cursor: pointer;
}

.custom-toggler.navbar-toggler {
    border-color: lightgray;
}

.custom-toggler .navbar-toggler-icon {
    border-color: lightgray;
}

.barra-attiva {
    display: inline;
    margin-top: 3px solid white;
    content: '';
}

.logout:hover {
    cursor: pointer;
}