td,
th {
    border-right: 1px solid lightgray;
}

thead {
    background-color: whitesmoke;
}

.responsiveColumn {
    min-width: 210px;
    padding-right: 0;

    @media screen and (min-width: 768px) {
        min-width: 230px;
    }
}

.mdc-evolution-chip--selected {
    background-color: black !important;
    border-color: black !important;
}
