<div class="arrowBtn d-none d-xxl-inline">
    <a (click)="goBack()" class="btn btn-outline-dark">
        <i class="bi bi-arrow-left arrowIcon"></i>
    </a>
</div>

<div class="container-fluid ps-1 pe-1 ps-md-2 pe-md-2 ps-lg-3 pe-lg-3 ps-xl-4 pe-xl-4 ps-xxl-5 pe-xxl-5"
    style="background-color: white; min-height: 90vh; min-width: 350px; max-width: 1600px;">

    <!-- FIRST CARD -->
    <div class="row justify-content-center mb-5" style="position: sticky; top: 40px; z-index: 100;">
        <div class="col-10 mt-4" style="max-width: 1424px; width: 100%;">
            <mat-expansion-panel style="z-index: 101;" class="customPanel ticketPanel" #panel expanded appInViewport>
                <mat-expansion-panel-header class="cutomPanelHeader" style="background-color:#fcf3cf ">
                    <mat-panel-title style="justify-content: start;">
                        <span style="font-size: x-large; font-weight: bold;">
                            {{"TICKET.MODIFY.TICKETID" | translate}}: {{ticketInfo?.id}}
                        </span>
                    </mat-panel-title>
                    <span *ngIf="!isSmallScreen; else screenStatusBlock" class="me-4" style="display: flex; align-items: center;">
                        {{"TICKET.MODIFY.STATUS" | translate}}:
                        <i class="bi bi-circle-fill ms-2 me-1" [ngStyle]="{'color': '#'+systemStatus.color}"></i>
                        {{systemStatus.name}}
                    </span>
                    <ng-template #screenStatusBlock>
                        <span class="me-3" style="display: flex; align-items: center;">
                            <i class="bi bi-circle-fill ms-2 me-1" [ngStyle]="{'color': '#'+systemStatus.color}"></i>
                        </span>
                    </ng-template>
                    
                </mat-expansion-panel-header>

                <div class="row justify-content-center mt-2">
                    <div class="col-12 col-md-4 mt-1">
                        <span class="ticketInfoTitle">
                            {{"TICKET.MODIFY.SYSTEMINFO" | translate}}
                        </span>
                        <button class="btn btn-sm btn-outline-dark ms-2" (click)="systemInfoPopup()">
                            <i class="bi bi-card-text"></i>
                        </button>
                    </div>
                    <div class="col-12 col-md-8 mt-1">
                        <span class="ticketInfoTitle">
                            {{"TICKET.MODIFY.OPENEDFROM" | translate}}:
                        </span><br *ngIf="isSmallScreen">
                        <span class="ticketInfoContent">
                            {{ticketInfo?.id}}
                        </span>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mt-1">
                        <span class="ticketInfoTitle">
                            {{"TICKET.MODIFY.PROGRESSIVE" | translate}}:
                        </span><br *ngIf="isSmallScreen">
                        <span class="ticketInfoContent">
                            {{ticketInfo?.progressive}}/
                            {{ticketInfo?.openingDate}}
                        </span>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mt-1">
                        <span class="ticketInfoTitle">
                            {{"TICKET.MODIFY.ANSWEREMAIL" | translate}}:
                        </span><br *ngIf="isSmallScreen">
                        <span class="ticketInfoContent">
                            {{ticketInfo?.email}}
                        </span>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mt-1">
                        <span class="ticketInfoTitle">
                            {{"TICKET.MODIFY.REQUESTTYPE" | translate}}:
                        </span><br *ngIf="isSmallScreen">
                        <span class="ticketInfoContent">
                            {{ticketInfo?.requestType}}
                        </span>
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    <div class="col-12 text-center">
                        <span class="ticketInfoTitle" style="border-bottom: 1px solid lightgray;">
                            {{"TICKET.MODIFY.ANOMALYFOUNDED" | translate}}
                        </span>
                    </div>

                    <!-- INVERTER LIST -->
                    <div class="col-12 text-center col-md-6 mt-3 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5"
                        [ngStyle]="{'border-right': isSmallScreen ? 'none' : '1px solid lightgray'}">
                        <span style="font-weight: 600; border-bottom: 1px solid lightgray;">
                            {{"TICKET.MODIFY.INVERTERLIST" | translate}}
                        </span>
                        <div class="row justify-content-start align-items-group mt-2"
                            style="border-bottom: 1px solid lightgray;">

                            <div class="col-auto ps-0" *ngFor="let inverter of ticketInfo?.inverterList; let i = index">
                                <span class="">
                                    {{inverter.sn}}
                                    <ng-container *ngIf="ticketInfo?.inverterList?.length! > i+1">
                                        ,
                                    </ng-container>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- BATTERY LIST -->
                    <div class="col-12 text-center col-md-6 mt-3 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5"
                        [ngStyle]="{'border-left': isSmallScreen ? 'none' : '1px solid lightgray'}">
                        <span style="font-weight: 600; border-bottom: 1px solid lightgray;">
                            {{"TICKET.MODIFY.BATTERYLIST" | translate}}
                        </span>
                        <div class="row justify-content-start align-items-group mt-2"
                            style="border-bottom: 1px solid lightgray;">

                            <div class="col-auto ps-0" *ngFor="let battery of ticketInfo?.batteryList; let i = index">
                                <span class="">
                                    {{battery.sn}}
                                    <ng-container *ngIf="ticketInfo?.batteryList?.length! > i+1">
                                        ,
                                    </ng-container>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-2">
                    <div class="col-12">
                        <label class="form-label" for="description">
                            {{"TICKET.MODIFY.PROBLEMDESCRIPTION" | translate}}
                        </label>
                        <textarea class="form-control" type="text" id="description" [value]="ticketInfo?.description"
                            rows="3" disabled>
                            </textarea>
                    </div>

                    <div *ngFor="let img of ticketInfo?.attachedFiles" class="col-auto mt-2">
                        <img class="imgThumb" [src]="'assets/img/'+img.src" (click)="viewImage(img)" [title]="img.src">
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>

    <ng-container *ngFor="let message of messagesList; let i = index">
        <div class="row ps-3 pe-3 ps-lg-3 pe-lg-3 ps-xxl-5 pe-xxl-5 ">
            <!-- TIMELINE -->
            <div class="col-1 d-none d-lg-inline ps-0 pe-0"
                style="border-right: 4px solid #002D5D; position: relative; max-width: 94px;">
                <span class="text-center"
                    style="position: absolute; top: 48%; right: 20px; font-size: small; font-weight: 700; color: #002D5D;">
                    12-04-24 <br> 17:30:25
                </span>
                <span style="position: absolute; top: 50%; right: -10px;">
                    <i class="bi bi-circle-fill" style="color: #002D5D;"></i>
                </span>
            </div>

            <div class="col-12 col-lg-11">

                <!-- CUSTOMER -->
                <div *ngIf="message.sender == 1" class="row justify-content-end">
                    <div class="col-11 col-md-10 mt-4 cardElement customPanel ticketPanel"
                        style="max-width: 1200px; background-color: #fcf3cf;" appInViewport>
                        <div class="row justify-content-center">
                            <div class="col-6 text-start">
                                <img src="assets/img/profileThumb.jpg" class="profile-image">
                                <span *ngIf="!isSmallScreen" class="ms-2 panelTitle">
                                    Nickname
                                </span>
                            </div>
                            <div class="col-6 text-end">
                                <span style="color: gray; font-style: italic;"
                                    [ngStyle]="{'font-size': isSmallScreen ? 'x-small' : 'small' }">
                                    {{message.date}}
                                </span>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 mt-2">
                                <label class="form-label">
                                    {{"TICKET.MODIFY.MESSAGE" | translate}}
                                </label>
                                <textarea class="form-control" type="text" [value]="message.description" rows="3"
                                    disabled></textarea>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-2">
                            <div *ngFor="let file of message.attached" class="col-auto">
                                <img class="imgThumb" [src]="'assets/img/'+file.src" [title]="file.src"
                                    (click)="viewImage(file)">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- WECO TECHNICIAN -->
                <div *ngIf="message.sender == 2" class="row ps-lg-3 justify-content-start">
                    <div class="col-11 col-md-10 mt-4 cardElement customPanel ticketPanel"
                        style="max-width: 1200px; background-color: #edf5fe" appInViewport>
                        <div class="row justify-content-center">
                            <div class="col-6 text-start">
                                <img src="assets/img/wecoW.jpg" class="profile-image">
                                <span *ngIf="!isSmallScreen" class="panelTitle">
                                    {{"TICKET.MODIFY.WECOTECHNICIAN" | translate}}
                                </span>
                            </div>
                            <div class="col-6 text-end">
                                <span style="color: gray; font-style: italic;"
                                    [ngStyle]="{'font-size': isSmallScreen ? 'x-small' : 'small' }">
                                    {{message.date}}
                                </span>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 mt-2">
                                <label class="form-label">
                                    {{"TICKET.MODIFY.MESSAGE" | translate}}
                                </label>
                                <textarea class="form-control" type="text" rows="3" [value]="message.description"
                                    disabled></textarea>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-2">
                            <div *ngFor="let file of message.attached" class="col-auto">
                                <img class="imgThumb" (click)="viewImage(file)" [src]="'assets/img/'+file.src"
                                    [title]="file.src">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- NUOVO MESSAGGIO -->
    <div [formGroup]="newMessageForm" *ngIf="isNewMessage" class="row ps-3 pe-3 ps-lg-3 pe-lg-3 ps-xxl-5 pe-xxl-5">
        <!-- TIMELINE -->
        <div class="col-1 d-none d-lg-inline ps-0 pe-0"
            style="border-right: 4px solid #002D5D; position: relative; max-width: 94px;">
            <span class="text-center"
                style="position: absolute; top: 48%; right: 20px; font-size: small; font-weight: 700; color: #002D5D;">
                {{newMessageForm.get('date')?.value}} <br> {{newMessageForm.get('time')?.value}}
            </span>
            <span style="position: absolute; top: 50%; right: -10px;">
                <i class="bi bi-circle-fill" style="color: #002D5D;"></i>
            </span>
        </div>

        <div class="col-12 col-lg-11">
            <!-- NUOVO MESSAGGIO -->
            <div class="row justify-content-end">
                <div class="col-11 col-md-10 mt-4 cardElement customPanel ticketPanel"
                    style="max-width: 1200px; background-color: #fcf3cf;" appInViewport>
                    <div class="row justify-content-center">
                        <div class="col-6 text-start">
                            <img src="assets/img/profileThumb.jpg" class="profile-image">
                            <span *ngIf="!isSmallScreen" class="ms-2 panelTitle">
                                Nickname
                            </span>
                        </div>
                        <div class="col-6 text-end">
                            <span style="color: gray; font-style: italic;"
                                [ngStyle]="{'font-size': isSmallScreen ? 'x-small' : 'small' }">
                                <!-- {{message.date}} -->
                            </span>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 mt-2">
                            <label class="form-label">
                                {{"TICKET.MODIFY.MESSAGE" | translate}}
                            </label>
                            <textarea class="form-control" type="text" rows="3"
                                formControlName="description"></textarea>
                        </div>

                        <div class="col-12 mt-2">
                            <label *ngIf="fileList.length < maxImages" for="fileUpload2"
                                class="btn btn-outline-dark mt-1">
                                <i class="bi bi-paperclip"></i>
                                <input type="file" id="fileUpload2" style="display: none;"
                                    (change)="onFileSelected($event)" multiple>
                            </label>
                        </div>
                    </div>

                    <div class="row justify-content-end pt-2 mt-2" style="border-top: 1px solid lightgray;">
                        <div class="col-auto">
                            <button class="btn btn-outline-dark" (click)="sendMessage()">
                                {{"TICKET.MODIFY.SEND" | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button *ngIf="!isNewMessage" class="btn btn-dark" (click)="newMessage()"
            [ngClass]="{'btn-at-bottom': isAtBottom, 'btn-at-bottom-sm': isAtBottomSm}">
            <i class="bi bi-chat-right-text me-2"></i>
            Aggiungi Messaggio
        </button>
    </div>
</div>

<div #bottomAnchor></div>