/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';


// usato per togliere padding nel MatStepperModule
.mat-vertical-content{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

html, body {
  overscroll-behavior: none; /* Disabilita lo scroll "beyond bounds" */

  @media screen and (min-width: 350px) {
    overflow-x: hidden;
  }
}