/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/fonts/centurygothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// usato per togliere padding nel MatStepperModule
.mat-vertical-content{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

html, body {
  // COMMENTATO PER PROBLEMI CON DIALOG MATERIAL
  // @media screen and (min-width: 350px) {
  //   overflow-x: hidden;
  // }
  font-family: "Century Gothic", Sans-serif;
  height: 100%;
}

* {
  font-family: "Century Gothic", Sans-serif;
}

body {
  padding-top: 60px;
}
