<form [formGroup]="stepClusterForm">
  <div class=" mt-3">
    <mat-card>
      <mat-card-header class="titleBorder bg-success bg-opacity-25">
        <mat-card-title style="font-weight: bold;">{{ "SYSTEM.STEPFOUR.CLUSTER.BATTERYINFO" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6 ">
            <label class="mt-3 fw-bold" for="refidwecaresystemvolt" style=" font-size: medium;">
              {{ "SYSTEM.STEPFOUR.CLUSTER.VOLTAGE" | translate }}</label>
            <select class="form-select" formControlName="refidwecaresystemvolt" id="refidwecaresystemvolt">
              <option [ngValue]="null">{{ "SYSTEM.STEPFOUR.CLUSTER.SELECTVALUE" | translate }}</option>
              <option *ngFor="let volt of systemVoltView" [ngValue]="volt.id">{{language_now == 'it' ? volt.name_it :
                volt.name_en}}</option>
            </select>
          </div>
          <!-- <div class="col-12 col-md-6 p-0" *ngIf="stepClusterForm.get('refidwecaresystemvolt')?.value != null"> -->
          <div class="col-12 col-md-6">
            <label class="mt-3" for="system_model" style="font-weight: bold; font-size: medium;">
              {{ "SYSTEM.STEPFOUR.CLUSTER.SYSTEMMODEL" | translate }}
            </label>
            <select class="form-select" formControlName="system_model">
              <option [ngValue]="null" id="system_model">{{ "SYSTEM.STEPFOUR.CLUSTER.SELECTMODEL" | translate }}</option>
              <option *ngFor="let model of systemModelView" [ngValue]="model.id">
                {{language_now == 'it' ? model.name_it : model.name_en}}
              </option>
            </select>
          </div>

          <!-- <div class="col-12 col-md-6 p-0" *ngIf="stepClusterForm.get('system_model')?.value != null"> -->
          <div class="col-12 col-md-6">
            <label class="mt-3" for="refidwecaresystemtype" style="font-weight: bold; font-size: medium;">
              {{ "SYSTEM.STEPFOUR.CLUSTER.BATTERYTYPE" | translate }}
            </label>
            <select class="form-select" formControlName="refidwecaresystemtype" id="refidwecaresystemtype">
              <option [ngValue]="null">{{ "SYSTEM.STEPFOUR.CLUSTER.SELECTTYPE" | translate }}</option>
              <option *ngFor="let type of systemTypeView" [ngValue]="type.id">
                {{language_now == 'it' ? type.name_it : type.name_en}}
              </option>
            </select>
          </div>


          <!-- <div *ngIf="stepClusterForm.get('refidwecaresystemtype')?.value != null" class="col-12 p-0"> -->
          <div *ngIf="stepClusterForm.get('refidwecaresystemtype')?.value != null" class="col-12">
            <label class="form-check-label mt-3 mr-2" for="singleBattery">
              {{ "SYSTEM.STEPFOUR.CLUSTER.SINGLEBATTERY" | translate }}
            </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input mt-1" type="radio" [value]="1" formControlName="cluster_singlebattery">
              <label class="form-check-label" for="yes">{{ "SYSTEM.STEPFOUR.CLUSTER.YES" | translate }}</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input mt-1" type="radio" [value]="0" formControlName="cluster_singlebattery">
              <label class="form-check-label" for="no">{{ "SYSTEM.STEPFOUR.CLUSTER.NO" | translate }}</label>
            </div>
          </div>
          <!-- <div *ngIf="stepClusterForm.get('cluster_singlebattery')?.value == 0" class="col-12 p-0"> -->
          <div *ngIf="stepClusterForm.get('cluster_singlebattery')?.value == 0" class="col-12">

            <div class="col-12 p-0">
              <label class="form-check-label mt-3 mr-2" for="cluster_parallel">
                {{ "SYSTEM.STEPFOUR.CLUSTER.PARALLELCLUSTERS" | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="radio" id="cluster_parallel_yes" [value]="1"
                  formControlName="cluster_parallel">
                <label class="form-check-label" for="cluster_parallel_yes">{{ "SYSTEM.STEPFOUR.CLUSTER.YES" | translate }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="radio" [value]="0" id="cluster_parallel_no"
                  formControlName="cluster_parallel">
                <label class="form-check-label" for="cluster_parallel_no">{{ "SYSTEM.STEPFOUR.CLUSTER.NO" | translate }}</label>
              </div>
            </div>

            <div class="col-12 col-md-6 mt-3">
              <label for="cluster_number" style="font-weight: bold; font-size: medium;">
                {{ "SYSTEM.STEPFOUR.CLUSTER.HOWMANYCLUSTERS" | translate }}?
              </label>
              <select class="form-select" formControlName="cluster_number" id="cluster_number">
                <option [ngValue]="null">{{ "SYSTEM.STEPFOUR.CLUSTER.SELECTVALUE" | translate }}</option>
                <option *ngFor="let cluster of numCluster" [ngValue]="cluster.num"> {{cluster.num}}
                </option>
              </select>
            </div>
            <div class="col-12 col-md-6 mt-3">
              <label for="cluster_numberdevices" style="font-weight: bold; font-size: medium;">
                {{ "SYSTEM.STEPFOUR.CLUSTER.DEVICESFORCLUSTER" | translate }}?
              </label>
              <select class="form-select" formControlName="cluster_numberdevices" id="cluster_numberdevices">
                <option [ngValue]="null">{{ "SYSTEM.STEPFOUR.CLUSTER.SELECTVALUE" | translate }}</option>
                <option *ngFor="let device of numDevicesCluster" [ngValue]="device.num"> {{device.num}}
                </option>
              </select>
            </div>
          </div>
          <!-- <div class="col-12"
         *ngIf="(stepClusterForm.get('cluster_number')?.value > 0 && stepClusterForm.get('cluster_numberdevices')?.value? > 0) ||
        stepClusterForm.get('cluster_singlebattery')?.value == 1"> -->
          <div class="col-12" *ngIf="(stepClusterForm.get('cluster_number')?.value != null && stepClusterForm.get('cluster_numberdevices')?.value != null) ||
        stepClusterForm.get('cluster_singlebattery')?.value == 1">
            <div class="container-fluid mt-4">
              <div class="row">
                <div *ngFor="let cluster of clusterFieldAsFormArrayService.controls ;let i = index;"
                  formArrayName='clusters_list' class="mb-4 col-12 col-sm-6 col-lg-4">
                  <div [formGroupName]="i">
                    <mat-card>
                      <mat-card-header *ngIf="clusterFieldAsFormArrayService.controls.length > 1"
                        class="bg-success bg-opacity-10">
                        <mat-card-title style="font-weight: bold; font-size: medium;">
                          {{ "SYSTEM.STEPFOUR.CLUSTER.CLUSTER" | translate }} {{i + 1}}</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <div *ngFor="let bat of cluster.get('batteries').controls;let j = index"
                          formArrayName="batteries">
                          <div [formGroupName]="j" class="row">
                            <div class="col-12"
                              style="margin-top: 0px; margin-bottom: 0px;padding-top: 0px; padding-bottom: 0px;"
                              [ngClass]="{'mt-2': j == 0}">
                              <span class="" *ngIf="cluster.get('batteries').controls.length > 1">
                                {{getStrMasterSlave(bat.get('masterorslave').value)}}
                              </span>
                            </div>
                            <div class="col-12">
                              <label style="font-weight: bold; font-size: medium;" for="sn-{{i}}-{{j}}">
                                {{ "SYSTEM.STEPFOUR.CLUSTER.SERIALNUMBER" | translate }}
                              </label>
                              <input id="sn-{{i}}-{{j}}" class="form-control" type="text"
                                formControlName="serialnumber">
                            </div>
                          </div>
                        </div>
                        <label class="mt-2" style="font-weight: bold; font-size: medium;" for="inverters">
                          {{ "SYSTEM.STEPFOUR.CLUSTER.CONNECTEDINVERTER" | translate }}
                        </label>
                        <mat-form-field class="col-12" appearance="outline">
                          <mat-select formControlName="inverters" multiple>
                            @for (inverter of view_inverterslist; track inverter) {
                            <mat-option [value]="inverter.id">{{inverter.serialnumber}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </mat-card-content>

                      <!-- <div class="field my-4 col-12">
                  <p-multiSelect [options]="listaInverter" formControlName="inverter" optionLabel="sn"
                    placeholder="Select inverter"></p-multiSelect>
                </div> -->
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--
           <mat-card class="col-12 col-sm-6 col-md-4 col-lg-3">
            <mat-card-header style="border-bottom: 2px solid lightgray;">
              <mat-card-title style="font-weight: bold; font-size: medium;">
                Cluster 1</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row justify-content-center" formGroupName="battery">
                <div class="col-12 mt-2 p-0">
                  <label style="font-weight: bold; font-size: medium;">Serial Number</label>
                  <input class="form-control" type="text" formControlName="serialNumber">
                </div>
                <div class="col-12 mt-2 p-0 form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="askSupport"
                    formControlName="askSupport">
                  <label class="form-check-label" for="askSupport">Ask Support for
                    this cluster</label>
                </div>
              </div>

              <div class="col-12 col-md-6 mb-3">
                <label for="relatedInverter" style="font-weight: bold;">Related Inverter</label>
                <select class="form-select" aria-label="select example" formControlName="relatedInverter">
                  <option [ngValue]="null" disabled selected>Select an Option</option>
                  <option value="inverter"> Inverter 1 </option>
                  <option value="batteryInverter"> Inverter 2 </option>
                </select>
              </div>
            </mat-card-content>
          </mat-card> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>
